.text-error {
    color: red;
}

.box-error {
    border-color: red;
}

.form-group {
    float: left;
    width: 50%;
    margin-bottom: 2%;
    padding-left: 1%
}
.form-group-select {
    width: 38%;
  
}
.form-group-select-secondary{
    float: right;
    padding-right: 12%;
}

.form-control {
    width: 70%;
}