
<div class="container-fluid">
  <div class="home-image-div">
      <div class="saved" fxLayout="row wrap">
          <div class="px-3" fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start start">
              <!-- <p class="title">Try the Kin chatbot on Messenger</p> -->
            
                 <h1 class="saved-h">Saved</h1>
    
          </div>
        
      </div>
      <div class="category p-3 m-3">
          <div class="row">
              <div class="col-md-3">
                  <!--events-->
                  <a (click)="getSavedListing('EVENT')">
                      <div class="eventsImage">
                          <label class="category-label-sm">Events</label>
                      </div>
                  </a>
              </div>
              <div class="col-md-3">
                  <!--places-->
                  <a (click)="getSavedListing('VENUE')">
                      <div class="placesImage">
                          <label class="category-label-sm">Places</label>
                      </div>
                  </a>
              </div>
              <div class="col-md-3">
                  <!--camps-->
                  <a (click)="getSavedListing('CAMP')">
                      <div class="campsImage">
                          <label class="category-label-sm">Camps</label>
                      </div>
                  </a>
              </div>
              <div class="col-md-3">
                  <!--hikking-->
                  <a (click)="getSavedListing('HIKING')">
                      <div class="hikingImage">
                          <label class="category-label-sm">Hiking</label>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
  <div class="home-image-div">
        <div class="saved" fxLayout="row wrap">
            <div class="px-3" fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start start">
                <!-- <p class="title">Try the Kin chatbot on Messenger</p> -->
              
                   <h1 class="saved-h">Subscribed</h1>
      
            </div>
          
        </div>

    </div>
</div>
<app-layout-footer></app-layout-footer>