<img src="assets/loading.gif" *ngIf="!showLayout" class="loading-gif">
<ng-masonry-grid [ngClass]="{'hide-layout': !showLayout, 'show-layout': showLayout}"
  [masonryOptions]="{ transitionDuration: '1s', gutter: 5 }"
  [useAnimation]="true"
  [useImagesLoaded]="true"
  [scrollAnimationOptions]="{ animationEffect: 'effect-4', minDuration : 1, maxDuration : 2 }">
  <ng-masonry-grid-item class="tiles" *ngFor="let camp of camps"> 
    <mat-card class="event-list-cards" (click)="camp_redirect(camp.id)">
      <img mat-card-image src={{camp.image_url}} alt="">
      <mat-card-content>
        <p class="event-group-title">
          {{camp.name}}
        </p>
        <p class="event-venue">
            {{camp.cities}}
        </p>
          <p class="event-venue">
          {{camp.misc['timings']}}
        </p>
      </mat-card-content>
    </mat-card>
  </ng-masonry-grid-item>
</ng-masonry-grid>