<app-layout-header></app-layout-header>
    
<div class="container-fluid">
  <div class="main-section">
  <div class="row">
    <div class="col-md-7">
      <div class="banner-heading">
          <div><h1 class="main-heading">Events</h1></div>
            <div class="info"> 
              Family-friendly events around you!<br>
            </div>
      </div>
    </div>
    <div class="col-md-5 d-none d-lg-block">
      <div class="box-gradient">
        <div class="main-box">
            <img src="../../assets/isometric_pics/events.png" width="400px" class="icon3a" />
        </div>
      </div>
    </div>
</div>
<br/>

<!-- <div class="banner">
  <p class="link-to-kin">
    <span>
      To discover and plan for many more family-friendly events personalized to you, chat with <b class="kin-link" (click)="kin_redirect()">Kin on Messenger</b>
    </span>
    <img alt="kin logo" src="assets/kin_logo.jpeg" class="logo">
  </p>
</div>
-->
<div class="event-listing-card">
  <mat-tab-group mat-stretch-tabs disableRipple (selectedTabChange)="onTabClick($event)">
    <mat-tab label="Explore">
      <img src="assets/loading.gif" *ngIf="!isExplore" class="loading-gif">
      <app-masonsry-view *ngIf="isExplore" [events]=events_explore [start]=start [end]=end></app-masonsry-view>
    </mat-tab>
    <mat-tab label="Today" (click)="get_today_events()">
      <img src="assets/loading.gif" *ngIf="!isToday" class="loading-gif">
      <app-masonsry-view *ngIf="isToday" [events]=events_today [start]=start [end]=end></app-masonsry-view>
    </mat-tab>
    <mat-tab label="Tomorrow" (click)="get_tomorrow_events()">
      <img src="assets/loading.gif" *ngIf="!isTomorrow" class="loading-gif">
      <app-masonsry-view *ngIf="isTomorrow" [events]=events_tomorrow [start]=start [end]=end></app-masonsry-view>
    </mat-tab>
    <mat-tab label="Weekend" (click)="get_weekend_events()">
      <img src="assets/loading.gif" *ngIf="!isWeekend" class="loading-gif">
      <app-masonsry-view *ngIf="isWeekend" [events]=events_weekend [start]=start [end]=end></app-masonsry-view>
    </mat-tab>
  </mat-tab-group>
  <mat-card-actions class="details-button-space mouse-pointer" *ngIf="showMore">
      <button mat-button class="details-button mouse-pointer" (click)="loadMore()">Show More</button>
  </mat-card-actions>
</div>
<br><br>
<app-layout-footer></app-layout-footer>
