.event-card {
    font-size: 15px;
    color: rgb(90, 91, 91);
}

.mat-card-header {
    display: contents;
}

.camps-header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.event-details {
    /* border-top: 1px solid; */
    padding-top: 1em;
}

.icon {
    position: relative;
    top: 5px;
    left: 5px;
}

.actionIcon {
  width: 25px;
  height: 25px;
}

.link-text {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.details-button-space {
    text-align: center;
    border-top: 1px solid;
}

.red-color {
    color: rgb(237, 45, 86);
}

/* Phones */ 
@media only screen and (max-width : 767px) {
    .basic-information .text {
        margin-left: 5%
    }
    
    .event-details .text {
        margin-left: 5%
    }
    
    .event-details .lower-text {
        margin-left: calc(5% + 24px)
    }

    .details-button {
        color: white;
        background-color: rgb(237, 45, 86);
        border: none;
        padding: 5%;
        margin-top: 5%;
        border-radius: 10px;
    }
}

/* Tablets */
@media only screen and (min-width : 768px) and (max-width : 1280px) {
    .desktop-resize {
        width: 30% !important;
        margin-left: 35%;
    }

    .basic-information .text {
        margin-left: 3%
    }
    
    .event-details .text {
        margin-left: 4%
    }
    
    .event-details .lower-text {
        margin-left: calc(4% + 24px)
    }

    .details-button {
        color: white;
        background-color: rgb(237, 45, 86);
        border: none;
        padding: 2%;
        margin-top: 3%;
        border-radius: 10px;
    }
}

/* Desktop */
@media only screen and (min-width : 1281px) {
    .desktop-resize {
        width: 25% !important;
        margin-left: 37.5%;
    }
 
    .basic-information .text {
        margin-left: 3%
    }
    
    .event-details .text {
        margin-left: 3%
    }
    
    .event-details .lower-text {
        margin-left: calc(3% + 24px)
    }

    .details-button {
        color: white;
        background-color: rgb(237, 45, 86);
        border: none;
        padding: 1.5%;
        margin-top: 2%;
        border-radius: 10px;
    }
    .about-reviews-margin{
        
    }
    .addReview{
        margin-left : 29%;
    }
}

::ng-deep .tabs .mat-tab-list .mat-tab-labels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: auto;
    grid-auto-rows: auto;
}
.description{
     margin-left: 7%;
}

.review-margin-left {
    margin-left: 33%;
}

.details-button {
    color: white;
    background-color: rgb(237, 45, 86);
    border: none;
}

.mouse-pointer{
    cursor: pointer;
}
.material-icons.md-dark.md-inactive { color: rgba(8, 241, 19, 0.897); }

.mat-card-title {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #5d5d5a;
    }


    .mat-card:not([class*=mat-elevation-z]){
        box-shadow: none;
    }
    @media only screen and (min-width: 1281px){
        .about-reviews-margin{

        }
    }
    .header-image{
        width:100%;
    }
    .review-width{
        padding:10px;
        border:1px solid #7a7a7a;
        font-size: 16px;
        color: #5d5d5a;
        margin-bottom: 10px;
        font-weight: 400;
    }
    .btn-sec{
        text-align: center;
        margin-top:10px;
    }
    h4.review-heading{
        text-align: center;
        color: #5d5d5a;
        font-size: 21px;
    }

    .margin-center_width{
        margin: auto;
        max-width: 1%;
    }

    .cursor{
        cursor: pointer;
    }
