.event-card {
    font-size: 15px;
    color: rgb(90, 91, 91);
}

.mat-card-header {
    display: contents;
}

.camps-header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.event-details {
    /* border-top: 1px solid; */
    padding-top: 1em;
}

.icon {
    position: relative;
    top: 5px;
    left: 5px;
}

.actionIcon {
    height: 54px;
  }

.link-text {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.details-buttons-space {
    text-align: center;
    border-top: 1px solid;
}

.red-color {
    color: rgb(237, 45, 86);
}

/* Phones */ 
@media only screen and (max-width : 767px) {
    .basic-information .text {
        margin-left: 5%
    }
    
    .event-details .text {
        margin-left: 5%
    }
    
    .event-details .lower-text {
        margin-left: calc(5% + 24px)
    }

    .details-buttons {
        color: white;
        background-color:#ef6c57;
        border: none;
        padding: 5%;
        margin-top: 5%;
        border-radius: 10px;
  
    }
  
    .mat-card-image {
        width: calc(100% + 32px);
        margin: 0 0px 0px 0px;
        border: 1px solid  #495057;
        border-radius: 5px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        margin-bottom: 15px;
        min-height: 249px;
        max-height: auto;
        float: left;
        margin: 3px;
        padding: 3px;
        max-width: 100%;
        height: auto;
    }
}

/* Tablets */
@media only screen and (min-width : 768px) and (max-width : 1280px) {
    .desktop-resize {
        width: 30% !important;
        margin-left: 35%;
    }

    .basic-information .text {
        margin-left: 3%
    }
    
    .event-details .text {
        margin-left: 4%
    }
    
    .event-details .lower-text {
        margin-left: calc(4% + 24px)
    }

    .details-buttons {
        color: white;
        background-color:#ef6c57;
        border: none;
        padding: 2%;
        margin-top: 3%;
        border-radius: 10px;
    
    }
}

/* Desktop */
@media only screen and (min-width : 1281px) {
    .desktop-resize {
        width: 25% !important;
        margin-left: 37.5%;
    }
 
    .basic-information .text {
        margin-left: 3%
    }
    
    .event-details .text {
        margin-left: 3%
    }
    
    .event-details .lower-text {
        margin-left: calc(3% + 24px)
    }

    .details-buttons {
        color: white;
        background-color: rgb(237, 45, 86);
        border: none;
        padding: 1.5%;
        margin-top: 2%;
        font-family: Montserrat;
        border-radius: 10px;
        border: none;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
    }

    .addReview{
        margin-left : 29%;
    }

    .header-image{
        width:80% !important;
        border: 1px solid  #495057;
        border-radius: 5px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        margin-bottom: 15px;
        min-height: 249px;
        max-height: auto;
        float: left;
        margin: 3px;
        padding: 3px;
        max-width: 100%;
        height: auto;
      }
}

::ng-deep .tabs .mat-tab-list .mat-tab-labels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: auto;
    grid-auto-rows: auto;
}
.description{
    display: block;
    word-wrap: break-word;
    margin-left: 3.3em;
}

.review-margin-left {
    margin-left: 33%;
}

.details-buttons {
    color: white;
    background-color:#ef6c57;
    border: none;
    font-family: Montserrat;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    
}

.mouse-pointer{
    cursor: pointer;
}
.material-icons.md-dark.md-inactive { color: rgba(8, 241, 19, 0.897); }

.mat-card-title {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #5d5d5a;
    padding-right: 8%;
}


    .mat-card:not([class*=mat-elevation-z]){
        box-shadow: none;
    }

    .review-width{
        padding:10px;
        border:1px solid #7a7a7a;
        font-size: 16px;
        color: #5d5d5a;
        margin-bottom: 10px;
        font-weight: 400;
    }
    .btn-sec{
        text-align: center;
        margin-top:10px;
    }
    h4.review-heading{
        text-align: center;
        color: #5d5d5a;
        font-size: 21px;
        font-family: Montserrat;
         color: #5d5d5a;
    }