<app-layout-header></app-layout-header>

<div class="container-fluid">
  <div class="main-section">
    <mat-card class="event-card" *ngIf="campStatus">
      <div class="row">
        <div class="col-md-12">
          <mat-card-header>
            <mat-card-title class="camps-header">{{ camp.name }}</mat-card-title>
          </mat-card-header>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"> <img mat-card-image class="header-image" [src]=camp.image_url alt="Photo of the camps">
        </div>
        <div class="col-md-4"></div>
      </div>
      <hr class="hr-Rectangle-200">

      <mat-card-content>
          <div class="row justify-content-center">
                
                      <div class="row">
                          <div class="col">
                              <div class="mb-2">
                              <div class="" title="Save" *ngIf="is_parent_id === false">
                                  <img src="../../assets/icons/noun_bookmark_1.png" class="actionIcon" />
                              </div>
                              <div class=" cursor" title="Save" (click)="save_camp()" *ngIf="is_parent_id && isSaveVisible != true">
                                  <img class="actionIcon" src="../../assets/icons/noun_bookmark_2.png" />
                              </div>
                              <div class="" title="Saved" *ngIf="isSaveVisible">
                                  <img class="actionIcon" src="../../assets/icons/noun_bookmark_3.png" />
                              </div>

                              </div>
                          </div>
                          <div class="col">
                              <div class="d-flex text-center mb-2">
                                      <div class="cursor" (click)="add_review_redirect(2)" *ngIf="is_parent_id === false" title="Add Review">
                                          <img src="../../assets/icons/noun_review_1.png" class="actionIcon" />
                                      </div>
                                      <div class="cursor" *ngIf="is_parent_id" (click)="add_review_redirect(2)" title="Add Review">
                                          <img src="../../assets/icons/noun_review_2.png" class="actionIcon" />
                                      </div>
                              </div>
                          </div>    
                     
                      </div>
                 
              </div>
     

  </mat-card-content>
      <mat-card-content>

        <mat-tab-group class="tabs about-reviews-margin" (selectedTabChange)="show_reviews($event)"
          [selectedIndex]="selectedIndex">
          <mat-tab label="About">
            <mat-card>
              <mat-card-content>
                <p class="event-details">
                  <span><i title="Age" class="icon material-icons red-color">accessibility_new</i></span>
                  <span class="description">{{format_age()}}</span>
                </p>
                <p class="event-details" *ngIf="camp.description" title="Description">
                  <span><i title="Description" class="icon material-icons">infor</i></span>
                  <span class="description">{{camp.description}}</span>
              </p>
           
                <p class="event-details" *ngIf="category">
                  <span><i title="Location" class="icon material-icons" title="Category">pets</i></span>

                  <span class="description">{{category}}</span>
                </p>
                <p class="event-details" title="Types Of Activities" *ngIf="camp.activity_types">
                  <span><i title="Activity" class="icon material-icons">local_activity</i></span>
                  <span class="description">{{camp.activity_types}}</span>


                </p>
                <p class="event-details" title="Lunch" *ngIf="camp.lunch">
                  <span><i title="Lunch" class="icon material-icons">fastfood</i></span>
                  <span class="description"><b>Lunch :</b>{{camp.lunch}}</span>

                </p>
                <p class="event-details" title="Offfer During" *ngIf="camp.offered_during">
                  <span><i title="Offered During" class="icon material-icons">local_offer</i></span>

                  <span class="description">{{camp.offered_during}}</span>
                </p>
                <p class="event-details" title="Cities" *ngIf="camp.cities">
                  <span><i  title="Cities" class="icon material-icons">location_on</i></span>

                  <span class="description">{{camp.cities}}</span>
                </p>
                <p class="event-details"  *ngIf="camp.am_extended_care">
                  <span><i  title="Extended Care" class="icon material-icons material-icon-black-color" title="AM Extended Care">av_timer</i></span>
                  <span class="description">{{camp.am_extended_care}}</span>
              </p>
                <p class="event-details"  *ngIf="camp.pm_extended_care">
                  <span><i  title="Extended Care" class="icon material-icons material-icon-black-color" title="PM Extended Care">timelapse</i></span>
                  <span class="description">{{camp.pm_extended_care}}</span>
              </p>
                <p class="event-details"  *ngIf="camp.tips">
                  <span><i title="Tips" class="icon material-icons material-icon-black-color" title="Tips">note</i></span>
                  <span  class="description">{{camp.tips}}</span>
              </p>
                <p class="event-details" title="Time" *ngIf="camp.timings">
                  <span><i title="Timings" class="icon material-icons">access_time</i></span>
                  <span class="description">{{camp.timings}}</span>

                </p>

                <mat-card-actions class="details-buttons-space">
                  <button mat-button class="detail-buttons mouse-pointer" (click)="event_redirect()">MORE DETAILS</button>
                </mat-card-actions>
              </mat-card-content>
            </mat-card>
          </mat-tab>
          <mat-tab label="Reviews">
            <mat-card>
              <div class="margin-review">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    <div class="review-width" *ngFor="let current_review of user_reviews;">
                      {{current_review.review}}
                    </div>
                    <div class="review-font" *ngIf="no_reviews">
                        No reviews yet!
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                </div>
              </div>
            </mat-card>
          </mat-tab>
          <mat-tab label="Add Review" *ngIf="is_review_click">
            <mat-card>

              <div class="form-group review-margin">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    <h4 class="review-heading" align="center">Write a review</h4>
                    <textarea class="form-control" rows="5" id="review"
                      placeholder="Add review or tips to other parents" [(ngModel)]="review" required
                      (change)="validate_review()"></textarea>
                    <small id="miscHelp" class="form-text text-muted italic-font-style">We respect your
                      privacy. Your name will not be shown to other
                      users
                    </small>
                    <div *ngIf="isErrorVisible" class="alert alert-danger">
                      <div>
                        {{errorMessage }}
                      </div>
                    </div>
                    <div *ngIf="isSuccessVisible" class="alert alert-success">
                      <div>
                        {{errorMessage }}
                      </div>
                    </div>
                    <div class="form-group review-margin btn-sec">
                      <button type="button" class="btn btn-sign-up" (click)="add_review()">Submit</button>
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                </div>
              </div>


            </mat-card>
          </mat-tab>

          <!-- <mat-tab label="Fourth">   </mat-tab> -->
        </mat-tab-group>

      </mat-card-content>
    </mat-card>
    <hr class="hr-Rectangle-200">
  </div>
</div>
<br> <br>