<div class="profile-container">
  <h4>Profile</h4>
  <div class="row">
    <mat-form-field class="col-12 col-md-6">
      <input matInput placeholder="First name">
    </mat-form-field>
    <mat-form-field class="col-12 col-md-6">
      <input matInput placeholder="Last name">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-12">
      <input matInput type="email" placeholder="Email">
    </mat-form-field>
  </div>
  <div class="row" style="align-items: baseline">
    <mat-form-field class="col-12 col-md-6">
      <input matInput placeholder="Zipcode">
    </mat-form-field>
    <span class="col-12 col-md-6">City name</span>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="start center">
    <h4>Newsletter</h4>
    <mat-slide-toggle class="ml-3"></mat-slide-toggle>
  </div>
  <small>Sign up to get Kin's weekly calendar personalized for you</small>
  <mat-divider></mat-divider>
  <h4>Kids</h4>
  <div *ngFor="let kid of kids; let i = index">
    <mat-divider *ngIf="i != 0"></mat-divider>
    <div class="row">
      <mat-form-field class="col-12 col-md-6">
        <input matInput placeholder="Nickname">
      </mat-form-field>
      <mat-form-field class="col-12 col-md-6">
        <input matInput placeholder="Age">
      </mat-form-field>
    </div>
    <h5>Interests</h5>
    <div class="form-group interests">
      <small class="clear">clear all</small>
      <textarea class="form-control" row s="4" placeholder="Tell us what you’d like to see! (separated by commas)"></textarea>
    </div>
    <mat-chip-list aria-label="Interest selection">
      <mat-chip class="cursor" *ngFor="let interest of interests" [color]="getChipColor(kid, interest)"
        (click)="toggleInterest(kid, interest)" selected>{{interest.name}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <h5 class="mt-4 cursor" (click)="addChild()">+ add child</h5>
  <mat-divider></mat-divider>
  <button class="btn btn-yellow" (click)="save()">SAVE</button>
</div>