<div fxLayout="row">
  <div class="left-side" fxHide.xs fxHide.sm></div>
  <div class="login-content" fxLayout="column" fxLayoutAlign="start center" fxFlex.sm="35" fxFlex="100">
    <img src="assets/web_images/new_kin_logo_fin.png" width="150" alt="Kin Logo">
    <h2>SIGN IN</h2>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
      <button class="btn btn-action btn-accent">LET'S GO!</button>
    </div>
    <a href="#">Forgot password?</a>
    <span class="separator">or</span>
    <div class="form-group">
      <button class="btn btn-action btn-primary">CONTINUE WITH FACEBOOK</button>
    </div>
    <div class="form-group">
      <button class="btn btn-action btn-error">CONTINUE WITH GOOGLE</button>
    </div>
    <div class="seperator">New to Kin? <a href="#">Create an account - it's free!!!</a></div>
  </div>
</div>