.Contact {
    font-family: BubblegumSans;
    font-size: 120px;
    text-align: center;
    color: #ef6c57;
    position: relative;
    padding: 0px;
}

.Contact .us {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    right: -8px;
    color: #5d5d5a;
}

.contact-us-margin-top {
	margin: 1%;
}

.contact-banner-heading{
    text-align: center;
    font-family: Montserrat;
    padding-top: 2px;
  }

.contact-banner-heading .info{
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 400;
  padding: 15px 0px 30px 0px;
}
