<app-layout-header></app-layout-header>

<div class="container-fluid">
    <div class="main-section">
  <div class="row">
    <div class="col-md-6">
	<div class="banner-heading">
	<div><label class="About main-text-margin-top"> About <span class="us">us</span></label></div>
	</div>
    </div>
    <div class="col-md-6 d-none d-lg-block">
          <img src="../../assets/web_images/kin_about_us.jpg" class="img-fluid">
    </div>
  </div>
  <!-- Middle Section -->
  <div class="row">
      <div class="col-12">
        <div class="label-sec">
            <label class="Our-story main-label">Our Story</label>
        </div>
      </div>
  </div>
      <div class="col-md-12">
          <p>We are bringing the power of AI to parents on interfaces that are convenient, powerful and are ubiquitous. Our goal is to allow parents to be efficient, and achieve their goals as quickly as possible, rather than fight to hold the attention of parents for as long as possible. We plan to provide end-to-end experience from discovery, to planning, to feedback, across categories, with rich parent-relevant data that sets us apart from others. We are passionate about using technology to build solutions for parents.</p>
          <p>We would love to hear from you. Please reach out to us at <a href="mailto: contact@kinparenting.com"><font color="#ef6c57">contact@kinparenting.com</font></a> for any questions, feedback, comments or just to chat! </p>
        </div>
        
  <div class="row">
      <div class="col-12">
        <div class="label-sec">
            <label class="Our-story main-label">More About Kin</label>
        </div>
      </div>
  </div>
      <div class="col-md-12">
        <h3>What is Kin?</h3>
          <p>Kin is an assistant for parents to discover and plan family-friendly experiences. We aggregate information about local events, places, camps, classes and so on that parents are always on the lookout for. We enrich the information with parent relevant data not easily found elsewhere. We then personalize our recommendations based on interests, location, age groups and social feedback. With a few simple steps we also make it easy for parents to plan play dates, get-togethers and camps/classes scheduling with friends. </p>

        <h3>Which cities does Kin cover?</h3>
          <p>Kin is in beta. It is currently available only in and around Silicon Valley (roughly from San Jose to Palo Alto). We would like to get initial feedback and hone our offerings before we take on the world! Thank you for your patience. Please mail us at contact@kinparenting.com to get notified when we expand to your city.</p>

        <h3>In what other format is Kin available?</h3>
          <p>Kin also exists as a chatbot on Facebook Messenger. Our personalization feature is mainly available in the chatbot. The recommendations and personalization are also available on the website through newsletter subscription in a limited capacity. Check it out at m.me/kinparenting.</p>

        <h3>Why is Kin a chatbot?</h3>
          <p>We want to be a true parenting assistant. We want you to chat with Kin, just like you’d with a person.</p>

        <h3>How do I contact you?</h3>
          <p>Please reach out to us at <a href="mailto: contact@kinparenting.com"><font color="#ef6c57">contact@kinparenting.com</font></a></p>
      </div>
        
  <hr class="hr-Rectangle-200">

</div>
</div>
<br> <br>
<app-layout-footer></app-layout-footer>
