<app-layout-header></app-layout-header>

<div class="container-fluid">
    <div class="main-section">
  <div class="row">
    <div class="col-md-6">
	<div class="banner-heading">
	<div><label class="About main-text-margin-top"> About <span class="us">us</span></label></div>
	</div>
    </div>
    <div class="col-md-6 d-none d-lg-block">
          <img src="../../assets/web_images/kin_about_us.jpg" class="img-fluid">
    </div>
  </div>
  <!-- Middle Section -->
  <div class="row">
      <div class="col-12">
        <div class="label-sec">
            <label class="Our-story main-label">Our Story</label>
        </div>
      </div>
  </div>
      <div class="col-md-12 Story-description">
          <p>We are bringing the power of AI to parents on interfaces that are convenient, powerful and are ubiquitous. Our goal is to allow parents to be efficient, and achieve their goals as quickly as possible, rather than fight to hold the attention of parents for as long as possible. We plan to provide end-to-end experience from discovery, to planning, to feedback, across categories, with rich parent-relevant data that sets us apart from others. We are passionate about using technology to build solutions for parents.</p>
          <p>We would love to hear from you. Please reach out to us at <a href="mailto: contact@kinparenting.com"><font color="#ef6c57">contact@kinparenting.com</font></a> for any questions, feedback, comments or just to chat! </p>
      </div>
  <hr class="hr-Rectangle-200">

</div>
</div>
<br> <br>
<app-layout-footer></app-layout-footer>
