<app-layout-header></app-layout-header>

<div class="container-fluid">
    <div class="main-section">
  <div class="row">
    <div class="col-md-6">
	<div class="banner-heading">
	<div><label class="About main-text-margin-top"> About <span class="us">us</span></label></div>
	</div>
    </div>
    <div class="col-md-6 d-none d-lg-block">
          <img src="../../assets/web_images/kin_about_us.jpg" class="img-fluid">
    </div>
  </div>
  <!-- Middle Section -->
  <div class="row">
      <div class="col-12">
        <div class="label-sec">
            <label class="Our-story main-label">Our Story</label>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <!--Carousel Wrapper-->
        <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
          </ol>
          <!--/.Indicators-->
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="view">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                <div class="mask rgba-black-light"></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive">Light mask</h3>
                <p>First text</p>
              </div>
            </div>
            <div class="carousel-item">
              <!--Mask color-->
              <div class="view">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                <div class="mask rgba-black-strong"></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive">Strong mask</h3>
                <p>Secondary text</p>
              </div>
            </div>
            <div class="carousel-item">
              <!--Mask color-->
              <div class="view">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                <div class="mask rgba-black-slight"></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive">Slight mask</h3>
                <p>Third text</p>
              </div>
            </div>
          </div>
          <!--/.Slides-->
          <!--Controls-->
          <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->
      </div>
      <div class="col-md-6 Story-description">
          <p>We are bringing the power of AI to parents on interfaces that are convenient, powerful and are ubiquitous. Our goal is to allow parents to be efficient, and achieve their goals as quickly as possible, rather than fight to hold the attention of parents for as long as possible. We plan to provide end-to-end experience from discovery, to planning, to feedback, across categories, with rich parent-relevant data that sets us apart from others. We are passionate about using technology to build solutions for parents.</p>
          <p>We would love to hear from you. Please reach out to us at contact@kinparenting.com for any questions, feedback, comments or just to chat! </p>
      </div>
      </div>
  <hr class="hr-Rectangle-200">

</div>
</div>
<br> <br>
<app-layout-footer></app-layout-footer>
