.about {
    width: 565px;
    height: 596px;
}

.Rectangle-220 {
    width: 418px;
    height: 358px;
}

.About {

    font-family: BubblegumSans;
    font-size: 132px;
    text-align: left;
    color: #ef6c57;
    position: relative;
    padding: 0px;
}

.About .us {

    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    right: -20px;
    color: #5d5d5a;
}

.Our-story {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #5d5d5a;
}

.Rectangle-200 {
    width: 1181px;
    height: 5px;
    background-color: #ef6c57;
}