<div class="newsletter-banner">
        <div class="banner-content">
           <span class="main-text">Weekly planner</span>
           <div>
              <ul>
                 <li>by</li>
                 <li><img src="../../../assets/web_images/logo-transparent.png" alt=""></li>
                 <li>KIN</li>
              </ul>
           </div>
        </div>
     </div>
<div class="container-fluid">
    <div class="main-section">


        <!-- <div *ngIf="isFav"> -->

        <!-- <div class="container block-container" *ngIf="<div class="container" *ngIf="isPopular">
            <app-masonsry-view  [events]=popular [start]=start [end]=end></app-masonsry-view>          
            <div class="See-more" *ngIf="isPopular">
                <a class="See-more" [routerLink]="['/','events']">See more</a>
            </div>
        </div>">
          <div class="Events-at-your-favorite-venues">Events at your favorite venues </div>
       
          <div class="row">
              <div class="col-md-4" *ngFor="let event of favorite">
                <div class="column-border">photo_not_avail
                    <img class="professional-magic-show" src={{event.image_url}} alt="Photo of the event">
                    <p class="text-align-center Camp-1-Lorem-Ipsum-is-simply-dummy-text">{{event.dates}} &nbsp;&nbsp;,
                        {{event.start_time}} &nbsp; - &nbsp; 
                        {{event.end_time}}</p>
                    <p class="text-align-center Camp-1-Lorem-Ipsum-is-simply-dummy-text"> {{event.name}} </p>
                </div>  
              </div>
          </div>
      </div> -->
        <!-- <div class="container" *ngIf="isFav">
            <div class="Events-at-your-favorite-venues">Events at your favorite venues </div>
            <app-masonsry-personalise-view  [events]=favorite [start]=start [end]=end></app-masonsry-personalise-view>          
            <div class="See-more" *ngIf="isFav">
                    <a class="See-more" [routerLink]="['/','events']">See more</a>
            
                  </div>
        </div> -->

        <!-- <div class="row">
        <div class="col-md-4" *ngFor="let event of favorite">
          <img class="professional-magic-show" src={{event.image_url}} alt="Photo of the event">
          <p class="text-align-center Camp-1-Lorem-Ipsum-is-simply-dummy-text">{{event.dates}} &nbsp;&nbsp;,
              {{event.start_time}} &nbsp; - &nbsp; 
              {{event.end_time}}</p>
          <p class="text-align-center Camp-1-Lorem-Ipsum-is-simply-dummy-text"> {{event.name}} </p>
  
        </div>

      </div> -->




        <!-- </div> -->
        <!-- <div *ngIf="isWeekend"> -->

        <!-- <div class="row">
        <div class="col-md-4" *ngFor="let event of popular">
          <img class="professional-magic-show" src={{event.image_url}} alt="Photo of the event">
          <p class="text-align-center Camp-1-Lorem-Ipsum-is-simply-dummy-text">{{event.dates}} &nbsp;&nbsp;,
              {{event.start_time}} &nbsp; - &nbsp; 
              {{event.end_time}}</p>
          <p class="text-align-center Camp-1-Lorem-Ipsum-is-simply-dummy-text"> {{event.name}} </p>
  
        </div>

      </div> -->
        <!-- <div class="container block-container" *ngIf="isPopular">
          <div class="Events-at-your-favorite-venues">Popular Events</div>
       
          <div class="row">
              <div class="col-md-4" *ngFor="let event of popular">
                <div class="column-border">
                    <img class="professional-magic-show" src={{event.image_url}} alt="Photo of the event">
                    <p class="text-align-center Camp-1-Lorem-Ipsum-is-simply-dummy-text">{{event.dates}} &nbsp;&nbsp;,
                        {{event.start_time}} &nbsp; - &nbsp; 
                        {{event.end_time}}</p>
                    <p class="text-align-center Camp-1-Lorem-Ipsum-is-simply-dummy-text"> {{event.name}} </p>
                </div>  
              </div>
          </div>
      </div> -->
        <!-- <div class="container" *ngIf="isPopular">
            <div class="Events-at-your-favorite-venues">Popular Events</div>
            <app-masonsry-personalise-view  [events]=popular [start]=start [end]=end></app-masonsry-personalise-view>          
            <div class="See-more" *ngIf="isPopular">
                <a class="See-more" [routerLink]="['/','events']">See more</a>
            </div>
        </div> -->



        <!-- </div> -->

        <!-- <div class="container block-container" *ngIf="isWeekend">
        <div class="Events-at-your-favorite-venues" *ngIf="isWeekend"> Weekend Events </div>
        <div class="row">
            <div class="col-md-4 col-sm-2 col-xs-2" *ngFor="let event of events_weekend">
              <div class="column-border">
                  <img class="professional-magic-show" src={{event.image_url}} alt="Photo of the event">
                  <p class="text-align-center Camp-1-Lorem-Ipsum-is-simply-dummy-text">{{event.dates}} &nbsp;&nbsp;,
                      {{event.start_time}} &nbsp; - &nbsp; 
                      {{event.end_time}}</p>
                  <p class="text-align-center Camp-1-Lorem-Ipsum-is-simply-dummy-text"> {{event.name}} </p>
              </div>  
            </div>
        </div>
    </div> -->

        <!-- <div class="container">
            <div class="Events-at-your-favorite-venues"> Weekend Events </div>
        <app-masonsry-personalise-view  [events]=events_weekend [start]=start [end]=end></app-masonsry-personalise-view>          
        <div class="See-more">
            <a class="See-more" [routerLink]="['/','events']">See more</a>
        </div>
    </div> -->


        <!-- <div class="row" *ngIf="is_closest">
      <div class="col-md-4" *ngFor="let event of closest_event">
        <img class="professional-magic-show" src={{event.image_url}} alt="Photo of the event">
        <p class="text-align-center Camp-1-Lorem-Ipsum-is-simply-dummy-text">{{event.dates}} &nbsp;&nbsp;,
            {{event.start_time}} &nbsp; - &nbsp; 
            {{event.end_time}}</p>
        <p class="text-align-center Camp-1-Lorem-Ipsum-is-simply-dummy-text"> {{event.name}} </p>

      </div>

    </div> -->

        <!-- <div class="container block-container" *ngIf="is_closest">
        <div class="Events-at-your-favorite-venues" *ngIf="is_closest"> Events closest to you </div>

        <div class="row">
            <div class="col-md-4" *ngFor="let event of closest_event">
              <div class="column-border">
                  <img class="professional-magic-show" src={{event.image_url}} alt="Photo of the event">
                  <p class="text-align-center Camp-1-Lorem-Ipsum-is-simply-dummy-text">{{event.dates}} &nbsp;&nbsp;,
                      {{event.start_time}} &nbsp; - &nbsp; 
                      {{event.end_time}}</p>
                  <p class="text-align-center Camp-1-Lorem-Ipsum-is-simply-dummy-text"> {{event.name}} </p>
              </div>  
            </div>
        </div>
    </div>
    <div class="See-more" *ngIf="is_closest">
      <a class="See-more" [routerLink]="['/','events']">See more</a>
    </div> -->
        <!-- <div class="container" >
            <div class="Events-at-your-favorite-venues" > Events closest to you </div>
            <app-masonsry-personalise-view  [events]=closest_event [start]=start [end]=end></app-masonsry-personalise-view>          
            <div class="See-more" >
                <a class="See-more" [routerLink]="['/','events']">See more</a>
            </div>
        </div> -->


        <!-- </div> -->
        <app-masonsry-personalise-view  [parent_id]=parent_id [events]=all_events [start]=start [end]=end></app-masonsry-personalise-view>

    </div>
</div>

<!-- <div class="container">
      <div class="row">
          <h2 style="color:red ; font-size: 20px;">Kin Weekly Digest</h2>
      </div>
      <div class="row">
          <h3> Here is a planner just for you </h3>
      </div>
  
      <div class="row">
          <h4> Events at your favourite venues</h4>
      </div>
  
      <div class="row">
              <div class="col-md-3 text-center" *ngFor="let each_fav_venue of events_weekend">
                  <a href={{each_fav_venue.kin_url}}>
                      <img src="{{each_fav_venue.image_url}}"
                       class="img-rounded" alt="Favourite Image" style="width:100%">
                  </a>
                  <p style="color:red;">{{each_fav_venue.dates}} &nbsp;&nbsp;,
                      {{each_fav_venue.start_time}} &nbsp; - &nbsp; 
                      {{each_fav_venue.end_time}}</p>
  
                  <p class="font_black_weight">{{each_fav_venue.name}}</p>
                  <p style="font-weight: 546;color: black;">{{each_fav_venue.venue}}</p>
                  <hr class="hr-border">
              </div>
          <div class="col-xs-3" style="margin:15px;">
              <a class="see-more"  style="cursor:pointer" [routerLink]="['/','events']">See More</a>
          </div>
      </div>

      <div class="row">
          <h4> Popular Events</h4>
      </div>
  
      <div class="row">
              <div class="col-md-3 text-center" *ngFor="let each_pop_event of popular">
                   <a href={{each_pop_event.kin_url}}>
                      <img src="{{each_pop_event.image_url}}"
                       class="img-rounded" alt="Popular Events Image" style="width:100%">
                  </a>
                  <p style="color:red;">{{each_pop_event['dates']}} &nbsp;&nbsp;,
                      {{each_pop_event.start_time}} &nbsp; - &nbsp; 
                      {{each_pop_event.end_time}}</p>
                  <p class="font_black_weight">{{each_pop_event.name}}</p>
                  <p style="font-weight: 546;color: black;">{{each_pop_event.venue}}</p>
                   <hr class="hr-border">
              </div>
          <div class="col-xs-3" style="margin:15px;">
              <a class="see-more"  style="cursor:pointer"
              [routerLink]="['/','events']">See More</a>
          </div>
      </div>

    <div class="row">
      <h4> Weekend Events</h4>
    </div>

  <div class="row">
          <div class="col-md-3 text-center"
           *ngFor="let each_week_end_events of events_weekend">
               <a href={{each_week_end_events.kin_url}}>
                  <img src="{{each_week_end_events.image_url}}"
                   class="img-rounded" alt="Popular Events Image" style="width:100%">
              </a>
              <p style="color:red;">{{each_week_end_events.dates}} &nbsp;&nbsp;,
                  {{each_week_end_events.start_time}} &nbsp; - &nbsp; 
                  {{each_week_end_events.end_time}}</p>
              <p class="font_black_weight">{{each_week_end_events.name}}</p>
              <p style="font-weight: 546;color: black;">{{each_week_end_events.venue}}</p>
              <hr class="hr-border">
          </div>

      <div class="col-xs-3" style="margin:15px;">
          <a class="see-more"  style="cursor:pointer"
          [routerLink]="['/','events']">See More</a>
      </div>
  </div>
  </div> -->
