<div class="newsletter-banner">
        <div class="banner-content">
           <span class="main-text">Weekly planner</span>
           <div>
              <ul>
                 <li>by</li>
                 <li><img src="../../../assets/web_images/logo-transparent.png" alt=""></li>
                 <li>KIN</li>
              </ul>
           </div>
        </div>
     </div>
<div class="container-fluid">
    <div class="main-section">
        <app-masonsry-personalise-view  [parent_id]=parent_id [events]=all_events [start]=start [end]=end></app-masonsry-personalise-view>
    </div>
</div>
