<img src="assets/loading.gif" *ngIf="!showLayout" class="loading-gif">
<ng-masonry-grid [ngClass]="{'hide-layout': !showLayout, 'show-layout': showLayout}"
  [masonryOptions]="{ transitionDuration: '1s', gutter: 5 }" [useAnimation]="true" [useImagesLoaded]="false"
  [scrollAnimationOptions]="{ animationEffect: 'effect-4', minDuration : 1, maxDuration : 2 }">
  <ng-masonry-grid-item class="tiles" *ngFor="let event of events | slice:start:end; let i=index">
    <mat-card class="event-list-cards">
      <a style="text-decoration: none;" (click)="checkLoginAndRedirect(event.id,'view this event')">
        <div class="img-wrp">
          <img *ngIf="!type" mat-card-image src={{event.image_url}} onError="this.onerror=null;this.src='assets/web_images/home_banner.jpg';">
          <img *ngIf="type == 'otherDate'" mat-card-image src={{event.image_url}} onError="this.onerror=null;this.src='assets/web_images/home_banner.jpg';">
          <img *ngIf="type == 'eventData'" mat-card-image src={{event.image_url}} onError="this.onerror=null;this.src='assets/web_images/home_banner.jpg';">
          <img *ngIf="type == 'Hiking Trail'" mat-card-image src={{event.image_urls.first}} onError="this.onerror=null;this.src='assets/web_images/home_banner.jpg';">
        </div>
      </a>
      <mat-card-content *ngIf="!type" class="">
        <p class="event-group-title">
          {{event.name}}
        </p>
        <p class="event-date">
          <span *ngIf="event.venue" class="text">{{event.venue}}</span>
          <span *ngIf="event.city" class="lower-text">, {{event.city }}</span>
        </p>
        <p class="event-date">
          <span *ngIf="event.dates" class="text">{{event.dates}}, </span>
          <span class="lower-text">{{event.start_time }} - {{event.end_time}}</span>
        </p>
        <p class="event-date">
          <span *ngIf="event.age" class="lower-text">{{event.age }}</span>
          <span *ngIf="event.distance" class="lower-text">, {{event.distance}} miles</span>
        </p>
        <p class="star-btn">

          <button title="click to save" *ngIf="!isLogedin" (click)="checklogin(event.id,i,'save this event')">
            <img style="margin: 0px 6px" src="../../../../assets/icons/save_grey.png" class="dfkg" />
          </button>
          <button title="Add to calendar" *ngIf="!isLogedin" (click)="checklogin(event.id,i,'add this event')">
            <img class="dfkg" src="../../../../assets/icons/calendar_grey.png" />&nbsp;&nbsp;
          </button>
          <button *ngIf="!isLogedin" (click)="checklogin(event.id,i,'invite your friend to this event')">
              <img style="margin: 0px 3px" src="../../assets/icons/noun_children_1.png" class="dfkg" />
          </button>
          <button title="saved" *ngIf="isLogedin && event.is_saved == 'true'" (click)="is_delete_action(event.id,i)">
            <img class="dfkg" style="margin: 0px 6px" src="../../../../assets/icons/save_orange.png" />&nbsp;
          </button>
          <button *ngIf="isLogedin && event.is_saved == 'false'" (click)="save_camp(event.id,i)" title="click to save">
              <img class="dfkg" style="margin: 0px 6px" src="../../../../assets/icons/save_blue.png" />&nbsp;
          </button>
          <button *ngIf="isLogedin" (click)="calendar_redirects(event.id,i)" title="Add to calendar">
              <img class="dfkg" src="../../../../assets/icons/calendar_blue.png" />&nbsp;&nbsp;
          </button>
          <button *ngIf="isLogedin" (click)="playdateDialog(event)">
                <img style="margin: 0px 3px" src="../../assets/icons/noun_children_2.png" class="dfkg" />
          </button>
        </p>
      </mat-card-content>

      <!-- <mat-card-content *ngIf="type == 'eventData'" class="">
        <p class="event-group-title">
          <span class="lower-text">{{event.start_date | date : 'EEE, MMM d'}},{{event.start_time}} -
            {{event.end_time}}</span>
        </p>
        <p class="event-venue">
          {{event.name}}
        </p>
        <p class="event-venue">
          {{event.venue}}
        </p>
      </mat-card-content> -->

      <mat-card-content *ngIf="type == 'eventData'" class="">

        <p class="event-group-title">
          {{event.name}}
        </p>
        <p class="event-date">
          <span *ngIf="event.venue" class="text">{{event.venue}}</span>
          <span *ngIf="event.city" class="lower-text">, {{event.city }}</span>
        </p>
        <p class="event-date">
          <span *ngIf="event.dates" class="text">{{event.dates}}, </span>
          <span class="lower-text">{{event.start_time }} - {{event.end_time}}</span>
        </p>
        <p class="event-date">
          <span *ngIf="event.age" class="lower-text">{{event.age }}</span>
          <span *ngIf="event.distance" class="lower-text">, {{event.distance}} miles</span>
        </p>
        </mat-card-content>

      <mat-card-content *ngIf="type == 'otherDate'" class="">
        <p class="event-group-title">
          {{event.name}}
        </p>
        <p class="event-date">
          <span *ngIf="event.venue" class="text">{{event.venue}}</span>
          <span *ngIf="event.city" class="lower-text">, {{event.city }}</span>
        </p>
        <p class="event-date">
          <span *ngIf="event.dates" class="text">{{event.dates}}, </span>
          <span class="lower-text">{{event.start_time }} - {{event.end_time}}</span>
        </p>
        <p class="event-date">
          <span *ngIf="event.age" class="lower-text">{{event.age }}</span>
          <span *ngIf="event.distance" class="lower-text">, {{event.distance}} miles</span>
        </p>
      </mat-card-content>

      <mat-card-content *ngIf="type == 'Hiking Trail'" class="">
        <p class="event-group-title">
          {{event.name}}
        </p>
        <p class="event-date">
            <span *ngIf="event.distance" class="lower-text">, {{event.distance}} miles</span>
          </p>
        <p  *ngIf="event.city"class="event-venue">
          {{event.city}}, {{event.state}}
        </p>
        <br>
      </mat-card-content>
    </mat-card>
  </ng-masonry-grid-item>
</ng-masonry-grid>

<ng-template #deleteuser>
  <div class="modal-body thanks">
    <button type="button" style="float: right;" class="close pull-right" aria-label="Close" (click)="closeDialog()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="text-center">
      <h2 class="app-name">Sign in to {{ClickName}}</h2>
    </div>
    <div class="btnYN">
      <button class="btnSubmit Rectangle" (click)="signin()" mat-raised-button color="primary"><b class="SIGN-IN">SIGN
          IN</b></button><br>
      <span class="kin-pop"> New to Kin? </span> <a href="" style="color:#000000;font-family: Montserrat;font-family: 18px;" (click)="signin()">Create an account - it's free!!!</a>
    </div>
  </div>
</ng-template>