<img src="assets/loading.gif" *ngIf="!showLayout" class="loading-gif">
<ng-masonry-grid [ngClass]="{'hide-layout': !showLayout, 'show-layout': showLayout}"
  [masonryOptions]="{ transitionDuration: '1s', gutter: 5 }"
  [useAnimation]="true"
  [useImagesLoaded]="true"
  [scrollAnimationOptions]="{ animationEffect: 'effect-4', minDuration : 1, maxDuration : 2 }">
  <ng-masonry-grid-item class="tiles" *ngFor="let event of events | slice:start:end; let i=index">
  <a style="text-decoration: none;" [routerLink]="['/events', event.id]" target="_blank">
      <mat-card class="event-list-cards">
          <div class="img-wrp"><img mat-card-image src={{event.image_url}} alt=""></div>
          <mat-card-content class="">
            <p class="event-group-title">
                {{event.name}}
            </p>
            <p class="event-date">
              <span class="text">{{event.dates}}</span>,
              <span class="lower-text">{{event.start_time}} - {{event.end_time}}</span>
            </p>
            <p class="event-venue">
              {{event.venue}}
            </p>
          </mat-card-content>
      </mat-card>
  </a>
  </ng-masonry-grid-item>
</ng-masonry-grid>