<img src="assets/loading.gif" *ngIf="!showLayout" class="loading-gif">
<ng-masonry-grid [ngClass]="{'hide-layout': !showLayout, 'show-layout': showLayout}"
  [masonryOptions]="{ transitionDuration: '1s', gutter: 5 }" [useAnimation]="true" [useImagesLoaded]="false"
  [scrollAnimationOptions]="{ animationEffect: 'effect-4', minDuration : 1, maxDuration : 2 }">
  <ng-masonry-grid-item class="tiles" *ngFor="let venue of venues | slice:start:end; let i=index">
    <mat-card class="event-list-cards ">
      <div class="img-wrp">
        <a style="text-decoration: none;" [routerLink]="['/venues', venue.id]">
          <img mat-card-image src={{venue.image_url}} onError="this.onerror=null;this.src='assets/web_images/home_banner.jpg';" alt="Image not available">
        </a>

      </div>
      <mat-card-content class="">
        <p class="event-group-title">
          {{venue.name}}
        </p>
        <p *ngIf="venue.category && venue.category[0] !== 'Classes'" class="event-date">
          {{venue.category[0]}}
        </p>
        <p *ngIf="venue.category_sec && venue.category[0] === 'Classes' && venue.rating !== 0" class="event-date">
            {{venue.category_sec[0]}}, ⭐ {{venue.rating}}/5
        </p>
        <p *ngIf="venue.category_sec && venue.category[0] === 'Classes' && venue.rating === 0" class="event-date">
            {{venue.category_sec[0]}}
        </p>
        <p *ngIf="venue.city" class="event-date">
          {{venue.city}}, {{venue.state}}
        </p>
        <p *ngIf="venue.distance" class="event-date">
          {{venue.distance}} miles
        </p>
        <p class="star-btn" >
          <button title="click to save" *ngIf="!isLogedin" (click)="checklogin(venue.id,i,'save this place')">
            <img src="../../assets/icons/save_grey.png" class="dfkg" />
          </button>

            <button title="follow" *ngIf="!isLogedin && venue.category && venue.category[0] !== 'Classes'" (click)="checklogin(venue.id,i,'follow this place')">
                <img src="../../assets/icons/subscribe_grey.png" class="dfkg" />
              </button>

          <button title="saved" *ngIf="isLogedin && venue.is_saved == 'true'" (click)="is_delete_action(venue.id,i)">
            <img class="dfkg" src="../../../../assets/icons/save_orange.png" />
          </button>

          <button *ngIf="isLogedin && venue.is_saved == 'false'" (click)="save_camp(venue.id,i)" title="click to save">
            <img class="dfkg" src="../../../../assets/icons/save_blue.png" />
          </button>

          <button title="unfollow" *ngIf="isLogedin && venue.is_followed == 'true' && venue.category && venue.category[0] !== 'Classes'" (click)="unsubscribe_venue(venue.id,i)">
            <img class="dfkg" src="../../../../assets/icons/subscribe_orange.png" />
          </button>
          <button title="follow" *ngIf=" isLogedin && venue.is_followed == 'false' && venue.category && venue.category[0] !== 'Classes'" (click)="add_subscription_venue(venue.id,i)">
            <img class="dfkg" src="../../../../assets/icons/subscribe_blue.png" />
          </button>
        </p>
      </mat-card-content>
    </mat-card>
  </ng-masonry-grid-item>
</ng-masonry-grid>
<ng-template #deleteuser>
  <div class="modal-body thanks">
    <button type="button" style="float: right;" class="close pull-right" aria-label="Close" (click)="closeDialog()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="text-center">
      <h2 class="app-name">Sign in to {{ClickName}}</h2>
    </div>
    <div class="btnYN">
      <button class="btnSubmit Rectangle" (click)="signin()" mat-raised-button color="primary"><b class="SIGN-IN">SIGN
          IN</b></button><br>
      <span class="kin-pop"> New to Kin? </span> <a href="" style="color:#000000;font-family: Montserrat;font-family: 18px;" (click)="signin()">Create an account - it's free!!!</a>
    </div>
  </div>
</ng-template>