<div class="container-fluid" *ngIf="isLogedin==false">
    <div class="home-image-div home-image">
        <div class="col-md-12">
            <div class="info">
                <h1>Personalized Discovery & Planning for Parents</h1>
            </div>
            <div class="row">
                <div class="col"><button class="btn sign_up"><a (click)="auth.login()" class="chat_button_1">SIGN IN</a></button></div>
            </div>
            <!-- <div><h1 class="main-heading">Kin</h1></div> -->
        </div>
    </div>
    <!-- <div class="row homeImage">
                  <div class="banner-heading">
                    <br>
                        <div class="info">
                          Discover and plan family-friendly experiences!
                        </div>
                  </div>
              </div>
              -->
    <div class="categories-section">
        <div class="row">
            <div class="col-sm-6">
                <!--events-->
                <a [routerLink]="['/','family-friendly-events-near-me']">
                    <div class="eventsImage">
                        <label class="category-label">Events</label>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <!--places-->
                <a [routerLink]="['/','family-friendly-places-near-me']">
                    <div class="placesImage">
                        <label class="category-label">Places</label>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
                <div class="col-sm-6">
                        <!--classes-->
                        <a [routerLink]="['/','kids-classes-near-me']">
                            <div class="classesImage">
                                <label class="category-label">Classes</label>
                            </div>
                        </a>
                    </div>
            <div class="col-sm-6">
                <!--camps-->
                <a [routerLink]="['/','camps-near-me']">
                    <div class="campsImage">
                        <label class="category-label">Camps</label>
                    </div>
                </a>
            </div>
            
        </div>
        <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                        <!--hiking-->
                        <a [routerLink]="['/','family-friendly-hikes-near-me']">
                            <div class="hikingImage">
                                <label class="category-label">Hiking</label>
                            </div>
                        </a>
                </div>
                <div class="col-sm-3"></div>
        </div>
    </div>
    <div class="row video-section">
        <div class="col-md-6">
            <video controls loop muted>
                <source src="../../assets/iphone%20frame_3.mp4" type="video/mp4">
            </video>
        </div>
        <div class="col-md-6 meet-kin-descrp">
            <h3>Discover</h3>
            <p>Events, places, camps and more tailored for your family by location, age, and interests</p>
            <br>
            <br>
            <h3>Plan</h3>
            <p>Share with friends, add to calendar, save, subscribe to events at your favorite places, 
                plan a playdate (coming soon)... whatever it takes to make things happen!</p>
            <br>
            <br>
            <h3>Enrich</h3>
            <p>Explore together and create beautiful moments with your family</p>
            <button class="btn chat_button_2"><a href="https://www.messenger.com/t/kinparenting" target="_blank">CHAT ON
                    MESSENGER NOW</a></button>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="isLogedin">
    <div class="home-image-div home-personalized-image ">
        <!-- 
        <div class="category p-3 m-3">
            
            <div class="row holidayImage">
                <div class="col center-block" style="text-align:center;">
                    <p class="title center-block">HOLIDAY PLANNER</p>
                    <div class="holidayMenuDiv">
                        <a [routerLink]="['/','family-friendly-events-near-me']" [queryParams]="{q: 'holiday'}">
                            <h3 class="holidayMenu">All Holiday Events</h3>
                        </a>
                        <a [routerLink]="['/','family-friendly-events-near-me']" [queryParams]="{q: 'meetsanta19'}">
                            <h3 class="holidayMenu">Meet Santa</h3>
                        </a>
                        <a [routerLink]="['/','family-friendly-events-near-me']" [queryParams]="{q: 'holidaylights19'}">
                            <h3 class="holidayMenu">Holiday Lights</h3>
                        </a>
                        <a [routerLink]="['/','family-friendly-events-near-me']" [queryParams]="{q: 'holidayshow'}">
                            <h3 class="holidayMenu">Holiday Shows</h3>
                        </a>
                        <a [routerLink]="['/','family-friendly-events-near-me']" [queryParams]="{q: 'holidaytea19'}">
                            <h3 class="holidayMenu">Holiday Teas</h3>
                        </a>
                        <a [routerLink]="['/','family-friendly-events-near-me']" [queryParams]="{q: 'holidayspecials19'}">
                            <h3 class="holidayMenu">Holiday Specials</h3>
                        </a>
                        <a [routerLink]="['/','family-friendly-events-near-me']" [queryParams]="{q: 'volunteering19'}">
                            <h3 class="holidayMenu">Volunteering</h3>
                        </a>
                        </div>    
                    </div>
            </div>
        </div>
        -->
        <!-- 
        <iframe class="airtable-embed" 
        src="https://airtable.com/embed/shr6bGQXhdhashEPF?backgroundColor=orange&viewControls=on" 
        frameborder="0" onmousewheel="" width="100%" height="100%" 
        style="background: transparent; border: 1px solid #ccc;">
        </iframe>
        -->
        <div class="category p-3 m-3">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                        <a [routerLink]="['/','recos']">
                            <div class="recosImage">
                                <label class="category-label-sm">Recommendations</label>
                            </div>
                        </a>
                    </div>
                <div class="col-md-3">
                    <a [routerLink]="['/','family-friendly-events-near-me']">
                        <div class="eventsImage">
                            <label class="category-label-sm">Events</label>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['/','family-friendly-places-near-me']">
                        <div class="placesImage">
                            <label class="category-label-sm">Places</label>
                        </div>
                    </a>
                </div>
                
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                        <a [routerLink]="['/','kids-classes-near-me']">
                            <div class="classesImage">
                                <label class="category-label-sm">Classes</label>
                            </div>
                        </a>
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['/','camps-near-me']">
                        <div class="campsImage">
                            <label class="category-label-sm">Camps</label>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['/','family-friendly-hikes-near-me']">
                        <div class="hikingImage">
                            <label class="category-label-sm">Hiking</label>
                        </div>
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>
<app-layout-footer></app-layout-footer>