<!-- <img src="assets/loading.gif" *ngIf="!showLayout" class="loading-gif"> -->
<div class="newsletter-banner">
    <div class="banner-content">
        <span *ngIf="cityName" class="main-text">{{cityName}}</span>
    </div>
</div>
<!-- event listing-->
<div class="container newsletter">
    <div *ngIf="eventList" class="row">
        <div class="col-md-9">
            <h3 class="heading">Upcoming</h3>
        </div>
        <div class="col-md-3 more">
            <a *ngIf="eventList.length>3" class="more" [routerLink]="['/family-friendly-events-near-me']" target="_blank">See More <i
                    class="fas fa-angle-right"></i></a>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let event of eventList | slice:0:4; let i=index" class="col-md-3">
            <mat-card class="event-list-cards">
                <div class="img-wrp">
                    <img mat-card-image [src]='event.image_url' alt="">
                </div>
                <mat-card-content class="">
                    <p class="event-group-title">{{event.name | titlecase}}</p>
                    <p class="event-date">
                        <span class="text">{{event.dates | date : 'EEE, MMM d'}},{{event.start_time}}
                            -{{event.end_time}} </span>
                    </p>
                    <p class="event-venue">{{event.venue}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<!-- Venue listing-->
<div class="container newsletter">
    <div *ngIf="venueList" class="row">
        <div class="col-md-9">
            <h3 class="heading">Places your kids will love</h3>
        </div>
        <div class="col-md-3 more">
            <a *ngIf="venueList.length>3" class="more" [routerLink]="['/family-friendly-places-near-me']" target="_blank">See More <i
                    class="fas fa-angle-right"></i></a>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let venue of venueList | slice:0:4; let i=index" class="col-md-3">
            <mat-card class="event-list-cards">
                <div class="img-wrp">
                    <img mat-card-image [src]='venue.image_url' alt="">
                </div>
                <mat-card-content class="">
                    <p class="event-group-title">{{venue.name | titlecase}}</p>
                    <p class="event-date">
                        <span class="text">{{venue.city}},{{venue.state}}</span>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<!-- Camps listing-->
<div class="container newsletter">
    <div *ngIf="campList" class="row">
        <div class="col-md-9">
            <h3 class="heading">Camps during school break</h3>
        </div>
        <div class="col-md-3 more">
            <a *ngIf="campList.length>3" class="more" [routerLink]="['/camps-near-me']" target="_blank">See More <i
                    class="fas fa-angle-right"></i></a>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let camp of campList | slice:0:4; let i=index" class="col-md-3">
            <mat-card class="event-list-cards">
                <div class="img-wrp">
                    <img mat-card-image [src]='camp.image_url' alt="">
                </div>
                <mat-card-content class="">
                    <p class="event-group-title">{{camp.name | titlecase}}</p>
                    <p class="event-date">
                        <span class="lower-text">{{camp.cities}},</span>
                        <span class="text">{{camp.misc.timings}}</span>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<!-- Hiking listing-->
<div class="container newsletter">
    <div *ngIf="trailList" class="row">
        <div class="col-md-9">
            <h3 class="heading">Hiking perfect for your family</h3>
        </div>
        <div class="col-md-3 more">
            <a *ngIf="trailList.length>3" class="more" [routerLink]="['/family-friendly-hikes-near-me']" target="_blank">See More <i
                    class="fas fa-angle-right"></i></a>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let trail of trailList | slice:0:4; let i=index" class="col-md-3">
            <mat-card class="event-list-cards">
                <div class="img-wrp">
                    <img mat-card-image [src]='trail.image_urls.first' alt="">
                </div>
                <mat-card-content class="">
                    <p class="event-group-title">{{trail.name | titlecase}}</p>
                    <p class="event-date">
                        <span class="text">{{trail.state}},{{trail.city}}</span>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<div>
</div>
<app-layout-footer></app-layout-footer>