<!-- <img src="assets/loading.gif" *ngIf="!showLayout" class="loading-gif"> -->
<div class="newsletter-banner">
    <div class="banner-content">
       <span class="main-text">Weekly planner</span>
       <div>
          <ul>
             <li>by</li>
             <li><img src="../../../assets/web_images/logo-transparent.png" alt=""></li>
             <li>KIN</li>
          </ul>
       </div>
    </div>
 </div>
 <div class="container newsletter">
    <div class="row">
       <div class="col-md-12">
          <h3 class="heading">Popular events</h3>
       </div>
    </div>
    <div class="row">
       <div class="col-md-4">
          <mat-card class="event-list-cards">
             <div class="img-wrp">
                <img  mat-card-image src="https://loremflickr.com/400/240/landscape/all" alt="">
             </div>
             <mat-card-content  class="">
                <p class="event-group-title">
                   open house - trains    
                </p>
                <p class="event-date">
                   <span class="text">Sat, Aug 31, 10:00AM - 3:00PM</span>
                   <span class="lower-text">Southbay historical railroad society</span>
                </p>
                <p class="event-venue">
                   Good for all ages    
                </p>
             </mat-card-content>
          </mat-card>
       </div>
       <div class="col-md-4">
          <mat-card class="event-list-cards">
             <div class="img-wrp">
                <img  mat-card-image src="https://loremflickr.com/400/240/landscape/all" alt="">
             </div>
             <mat-card-content  class="">
                <p class="event-group-title">
                   open house - trains    
                </p>
                <p class="event-date">
                   <span class="text">Sat, Aug 31, 10:00AM - 3:00PM</span>
                   <span class="lower-text">Southbay historical railroad society</span>
                </p>
                <p class="event-venue">
                   Good for all ages    
                </p>
             </mat-card-content>
          </mat-card>
       </div>
       <div class="col-md-4">
          <mat-card class="event-list-cards">
             <div class="img-wrp">
                <img  mat-card-image src="https://loremflickr.com/400/240/landscape/all" alt="">
             </div>
             <mat-card-content  class="">
                <p class="event-group-title">
                   open house - trains    
                </p>
                <p class="event-date">
                   <span class="text">Sat, Aug 31, 10:00AM - 3:00PM</span>
                   <span class="lower-text">Southbay historical railroad society</span>
                </p>
                <p class="event-venue">
                   Good for all ages    
                </p>
             </mat-card-content>
          </mat-card>
       </div>
       <div class="col-md-4">
          <mat-card class="event-list-cards">
             <div class="img-wrp">
                <img  mat-card-image src="https://loremflickr.com/400/240/landscape/all" alt="">
             </div>
             <mat-card-content  class="">
                <p class="event-group-title">
                   open house - trains    
                </p>
                <p class="event-date">
                   <span class="text">Sat, Aug 31, 10:00AM - 3:00PM</span>
                   <span class="lower-text">Southbay historical railroad society</span>
                </p>
                <p class="event-venue">
                   Good for all ages    
                </p>
             </mat-card-content>
          </mat-card>
       </div>
       <div class="col-md-4">
          <mat-card class="event-list-cards">
             <div class="img-wrp">
                <img  mat-card-image src="https://loremflickr.com/400/240/landscape/all" alt="">
             </div>
             <mat-card-content  class="">
                <p class="event-group-title">
                   open house - trains    
                </p>
                <p class="event-date">
                   <span class="text">Sat, Aug 31, 10:00AM - 3:00PM</span>
                   <span class="lower-text">Southbay historical railroad society</span>
                </p>
                <p class="event-venue">
                   Good for all ages    
                </p>
             </mat-card-content>
          </mat-card>
       </div>
       <div class="col-md-4">
          <div class="see-more event-list-cards">
             <a href="#" class="seemore-link">+ see more</a>
          </div>
       </div>
    </div>
 </div>
 <div class="container newsletter">
    <div class="row">
       <div class="col-md-12">
          <h3 class="heading">Events happening this week</h3>
       </div>
    </div>
    <div class="row">
       <div class="col-md-4">
          <mat-card class="event-list-cards">
             <div class="img-wrp">
                <img  mat-card-image src="https://loremflickr.com/400/240/landscape/all" alt="">
             </div>
             <mat-card-content  class="">
                <p class="event-group-title">
                   open house - trains    
                </p>
                <p class="event-date">
                   <span class="text">Sat, Aug 31, 10:00AM - 3:00PM</span>
                   <span class="lower-text">Southbay historical railroad society</span>
                </p>
                <p class="event-venue">
                   Good for all ages    
                </p>
             </mat-card-content>
          </mat-card>
       </div>
       <div class="col-md-4">
          <mat-card class="event-list-cards">
             <div class="img-wrp">
                <img  mat-card-image src="https://loremflickr.com/400/240/landscape/all" alt="">
             </div>
             <mat-card-content  class="">
                <p class="event-group-title">
                   open house - trains    
                </p>
                <p class="event-date">
                   <span class="text">Sat, Aug 31, 10:00AM - 3:00PM</span>
                   <span class="lower-text">Southbay historical railroad society</span>
                </p>
                <p class="event-venue">
                   Good for all ages    
                </p>
             </mat-card-content>
          </mat-card>
       </div>
       <div class="col-md-4">
          <mat-card class="event-list-cards">
             <div class="img-wrp">
                <img  mat-card-image src="https://loremflickr.com/400/240/landscape/all" alt="">
             </div>
             <mat-card-content  class="">
                <p class="event-group-title">
                   open house - trains    
                </p>
                <p class="event-date">
                   <span class="text">Sat, Aug 31, 10:00AM - 3:00PM</span>
                   <span class="lower-text">Southbay historical railroad society</span>
                </p>
                <p class="event-venue">
                   Good for all ages    
                </p>
             </mat-card-content>
          </mat-card>
       </div>
       <div class="col-md-4">
          <mat-card class="event-list-cards">
             <div class="img-wrp">
                <img  mat-card-image src="https://loremflickr.com/400/240/landscape/all" alt="">
             </div>
             <mat-card-content  class="">
                <p class="event-group-title">
                   open house - trains    
                </p>
                <p class="event-date">
                   <span class="text">Sat, Aug 31, 10:00AM - 3:00PM</span>
                   <span class="lower-text">Southbay historical railroad society</span>
                </p>
                <p class="event-venue">
                   Good for all ages    
                </p>
             </mat-card-content>
          </mat-card>
       </div>
       <div class="col-md-4">
          <mat-card class="event-list-cards">
             <div class="img-wrp">
                <img  mat-card-image src="https://loremflickr.com/400/240/landscape/all" alt="">
             </div>
             <mat-card-content  class="">
                <p class="event-group-title">
                   open house - trains    
                </p>
                <p class="event-date">
                   <span class="text">Sat, Aug 31, 10:00AM - 3:00PM</span>
                   <span class="lower-text">Southbay historical railroad society</span>
                </p>
                <p class="event-venue">
                   Good for all ages    
                </p>
             </mat-card-content>
          </mat-card>
       </div>
       <div class="col-md-4">
          <div class="see-more event-list-cards">
             <a href="#" class="seemore-link">+ see more</a>
          </div>
       </div>
    </div>
 </div>
 <div class="container newsletter">
    <div class="row">
       <div class="col-md-12">
          <h3 class="heading">Events closest to you</h3>
       </div>
    </div>
    <div class="row">
       <div class="col-md-4">
          <mat-card class="event-list-cards">
             <div class="img-wrp">
                <img  mat-card-image src="https://loremflickr.com/400/240/landscape/all" alt="">
             </div>
             <mat-card-content  class="">
                <p class="event-group-title">
                   open house - trains    
                </p>
                <p class="event-date">
                   <span class="text">Sat, Aug 31, 10:00AM - 3:00PM</span>
                   <span class="lower-text">Southbay historical railroad society</span>
                </p>
                <p class="event-venue">
                   Good for all ages    
                </p>
             </mat-card-content>
          </mat-card>
       </div>
       <div class="col-md-4">
          <mat-card class="event-list-cards">
             <div class="img-wrp">
                <img  mat-card-image src="https://loremflickr.com/400/240/landscape/all" alt="">
             </div>
             <mat-card-content  class="">
                <p class="event-group-title">
                   open house - trains    
                </p>
                <p class="event-date">
                   <span class="text">Sat, Aug 31, 10:00AM - 3:00PM</span>
                   <span class="lower-text">Southbay historical railroad society</span>
                </p>
                <p class="event-venue">
                   Good for all ages    
                </p>
             </mat-card-content>
          </mat-card>
       </div>
       <div class="col-md-4">
          <mat-card class="event-list-cards">
             <div class="img-wrp">
                <img  mat-card-image src="https://loremflickr.com/400/240/landscape/all" alt="">
             </div>
             <mat-card-content  class="">
                <p class="event-group-title">
                   open house - trains    
                </p>
                <p class="event-date">
                   <span class="text">Sat, Aug 31, 10:00AM - 3:00PM</span>
                   <span class="lower-text">Southbay historical railroad society</span>
                </p>
                <p class="event-venue">
                   Good for all ages    
                </p>
             </mat-card-content>
          </mat-card>
       </div>
       <div class="col-md-4">
          <mat-card class="event-list-cards">
             <div class="img-wrp">
                <img  mat-card-image src="https://loremflickr.com/400/240/landscape/all" alt="">
             </div>
             <mat-card-content  class="">
                <p class="event-group-title">
                   open house - trains    
                </p>
                <p class="event-date">
                   <span class="text">Sat, Aug 31, 10:00AM - 3:00PM</span>
                   <span class="lower-text">Southbay historical railroad society</span>
                </p>
                <p class="event-venue">
                   Good for all ages    
                </p>
             </mat-card-content>
          </mat-card>
       </div>
       <div class="col-md-4">
          <mat-card class="event-list-cards">
             <div class="img-wrp">
                <img  mat-card-image src="https://loremflickr.com/400/240/landscape/all" alt="">
             </div>
             <mat-card-content  class="">
                <p class="event-group-title">
                   open house - trains    
                </p>
                <p class="event-date">
                   <span class="text">Sat, Aug 31, 10:00AM - 3:00PM</span>
                   <span class="lower-text">Southbay historical railroad society</span>
                </p>
                <p class="event-venue">
                   Good for all ages    
                </p>
             </mat-card-content>
          </mat-card>
       </div>
       <div class="col-md-4">
          <div class="see-more event-list-cards">
             <a href="#" class="seemore-link">+ see more</a>
          </div>
       </div>
    </div>
 </div>
 <div>
 </div>
 <app-layout-footer></app-layout-footer>