<app-layout-header></app-layout-header>

<div class="container-fluid bg">
  <div class="banner">
      <img src="../../assets/web_images/About-Us.jpg" class="Rectangle-218">
  </div>
  <div class="main-section">
    <div class="about-wrp">
      <!-- Middle Section -->
      <div class="row">
        <div class="col-md-4 col-sm-12">
            <h3>What is Kin?</h3>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="about-contact">
            <p>Kin is an assistant for parents to discover and plan family-friendly experiences. We aggregate information about local events, places, camps, classes and so on that parents are always on the lookout for. We enrich the information with parent relevant data not easily found elsewhere. We then personalize our recommendations based on interests, location, age groups and social feedback. With a few simple steps we also make it easy for parents to plan play dates, get-togethers and camps/classes scheduling with friends.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
            <h3>Which cities does Kin cover?</h3>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="about-contact">
              <p>Kin is in beta. It is currently available only in and around Silicon Valley (roughly from San Jose to Palo Alto). We would like to get initial feedback and hone our offerings before we take on the world! Thank you for your patience. Please mail us at <b>contact@kinparenting.com</b> to get notified when we expand to your city.</p>
          </div>
        </div>
      </div>  
      <div class="row">
        <div class="col-md-4 col-sm-12">
            <h3>In what other format is Kin available?</h3>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="about-contact">
              <p>Kin also exists as a chatbot on Facebook Messenger. Our personalization feature is mainly available in the chatbot. The recommendations and personalization are also available on the website through newsletter subscription in a limited capacity. Check it out at m.me/kinparenting.</p>
          </div>
        </div>
      </div>       
      <div class="row">
          <div class="col-md-4 col-sm-12">
              <h3>Why is Kin a chatbot?</h3>
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="about-contact">
                <p>We want to be a true parenting assistant. We want you to chat with Kin, just like you’d with a person.</p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h3>How do I contact you?</h3>
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="about-contact">
                  <p>Please reach out to us at <b>contact@kinparenting.com</b></p>
              </div>
            </div>
          </div>
    </div>  
  </div>
</div>
<app-layout-footer></app-layout-footer>
