<div class="container-fluid bg">
  <div class="banner">
      <img src="../../assets/web_images/About-Us.jpg" class="Rectangle-218">
  </div>
  <div class="main-section">
    <div class="about-wrp">
      <!-- Middle Section -->
      <div class="row">
        <div class="col-md-4 col-sm-12">
            <h3>What is Kin?</h3>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="about-contact">
            <p>Kin Parenting's mission is to use the power of technology to make
                parents' lives easier. We believe that parents anywhere should be able to
                quickly discover trusted information and plan for their family without
                spending hours pouring through endless search results, social media
                comments and filling up spreadsheets. That's why we are building Kin, a discovery and planning platform for parents -- to
                simplify parenting</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
            <h3>Which cities does Kin cover?</h3>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="about-contact">
              <p>Kin is in beta. It is currently available only in San Francisco Bay Area. We would like to get initial feedback and hone our offerings before we take on the world! Thank you for your patience. Please mail us at contact@kinparenting.com to get notified when we expand to your city.
              </p>
          </div>
        </div>
      </div>  
      <div class="row">
        <div class="col-md-4 col-sm-12">
            <h3>In what other format is Kin available?</h3>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="about-contact">
              <p>Kin is also available as a chatbot on Facebook Messenger. Check it out at m.me/kinparenting.</p>
          </div>
        </div>
      </div>       
      <div class="row">
            <div class="col-md-4 col-sm-12">
                <h3>How do I contact you?</h3>
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="about-contact">
                  <p>Please reach out to us at <b>contact@kinparenting.com</b></p>
              </div>
            </div>
      </div>
    </div>  
  </div>
</div>
<app-layout-footer></app-layout-footer>
