.event-group-card {
    margin: 5%;
    font-size: 15px;
    color: rgb(90, 91, 91);
    padding: 0;
}

.event-list-cards {
    margin: 5%;
}

.event-group-title {
    text-align: center;
}

.mat-card-header {
    display: contents;
}

.event-header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.event-group-icon {
    position: relative;
    top: 7px;
    left: 3px;
}

.kin-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.event-group-description {
    color: rgb(255, 77, 77);
}

.flex-display {
    display: flex; 
  flex-direction: column; 
  flex-wrap: wrap;
  height: 100vw;
  max-height: 800px;
  font-size: 0; 
}

.logo {
    height: 30px;
    width: 35px;
    position: relative;
    top: 10px;
}

/* Phones */ 
@media only screen and (max-width : 767px) {
    .tiles {
        width: 49%;
    }

    .link-to-kin {
        margin-top: 10% !important;
        border-bottom: 1px solid;
        padding-bottom: 5%;
    }
}

/* Tablets */
@media only screen and (min-width : 768px) and (max-width : 1280px) {
    .tiles {
        width: 32%;
    }

    .link-to-kin {
        border-bottom: 1px solid;
        padding-bottom: 3%;
    }
}

/* Desktop */
@media only screen and (min-width : 1281px) {
    .tiles {
        width: 24%;
    }

    .link-to-kin {
        border-bottom: 1px solid;
        padding-bottom: 3%;
    }
}