<mat-card class="event-group-card" *ngIf="isLoaded">
  <mat-card-header>
    <div class="banner">
      <p class="link-to-kin">
        <span>
          To discover and plan for many more family-friendly events personalized to you, chat with <b class="kin-link" (click)="kin_redirect()">Kin_on_Messenger</b>
        </span>
        <img alt="kin logo" src="assets/kin_logo.jpeg" class="logo">
      </p>
    </div>
  </mat-card-header>
  <mat-card-content class="event-group-content">
    <p class="event-group-description">
      <span>
          {{ event_query }} Events Around South Bay
      </span>
    </p>
    <app-masonsry-view [events]=events></app-masonsry-view>
  </mat-card-content>
</mat-card>
