<div class="container">
    <div class="row">
        <div class="col-md-6">
            <label class="venue-header" class="redColor"> Search a Venue</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Type name" required="true"
                       [(ngModel)]="name">
                <small id="nameHelp" class="form-text text-muted">Enter a name to search.
                </small>
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="City" required="required"
                [(ngModel)]="city">
                <small id="cityHelp" class="form-text text-muted">Enter a city you want to search.
                </small>
            </div>
            <div class="form-group">
                <label for="city" class="redColor">OR</label>
            </div>
            <div class="form-group">
                <label for="venueId">VenueId</label>
                <input type="text" class="form-control" id="venueId" placeholder="Venue Id" required="required"
                       [(ngModel)]="venue_id">
                <small id="venueIdHelp" class="form-text text-muted">Please type, venueId
                </small>
            </div>

            <div class="form-group">
                <label for="city" class="redColor">OR</label>
            </div>
            <div class="form-group">
                <label for="querySearchId">Query Search</label>
                <input type="text" class="form-control" id="querySearchId" placeholder="Search based on name and city"
                       [(ngModel)]="query_search">
                <small id="querySearchhelp" class="form-text text-muted">Please type anything you want to search in venue
                </small>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" (click)="search_venues()">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <label *ngIf="isErrorVisible" class="redColor">{{ errorMessage }}</label>
    </div>
    <div class="row" *ngIf="isShowTable">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">city</th>
                <th scope="col">state</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let each_venue_data of venueData">
                <th scope="row">1</th>
                <td>{{each_venue_data.name}}</td>
                <td>{{each_venue_data.city}}</td>
                <td>{{each_venue_data.state}}</td>
                <td><button type="button" class="btn btn-primary" (click)="edit_venues(each_venue_data)">Edit</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>