.venue-card {
    font-size: 15px;
    color: rgb(90, 91, 91);
}
.full-width {
    width: 50% !important;
}
.mat-card-header {
    display: contents;
}

.venue-header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.venue-details {
    border-top: 1px solid;
    padding-top: 1em;
}

.icon {
    position: relative;
    top: 5px;
    left: 5px;
}

.link-text {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.details-button-space {
    text-align: center;
    border-top: 1px solid;
}

.red-color {
    color: rgb(237, 45, 86);
}

/* Phones */ 
@media only screen and (max-width : 767px) {
    .basic-information .text {
        margin-left: 5%
    }
    
    .venue-details .text {
        margin-left: 5%
    }
    
    .venue-details .lower-text {
        margin-left: calc(5% + 24px)
    }

    .details-button {
        color: white;
        background-color: rgb(237, 45, 86);
        border: none;
        padding: 5%;
        margin-top: 5%;
        border-radius: 10px;
    }
}

/* Tablets */
@media only screen and (min-width : 768px) and (max-width : 1280px) {
    .desktop-resize {
        width: 10% !important;
        margin-left: 35%;
        height : auto;
    }

    .basic-information .text {
        margin-left: 4%
    }
    
    .venue-details .text {
        margin-left: 4%
    }
    
    .venue-details .lower-text {
        margin-left: calc(4% + 24px)
    }

    .details-button {
        color: white;
        background-color: rgb(237, 45, 86);
        border: none;
        padding: 2%;
        margin-top: 3%;
        border-radius: 10px;
    }
}

/* Desktop */
@media only screen and (min-width : 1281px) {
    .desktop-resize {
        width: 25% !important;
        margin-left: 37.5%;
    }

    .basic-information .text {
        margin-left: 3%
    }
    
    .venue-details .text {
        margin-left: 3%
    }
    
    .venue-details .lower-text {
        margin-left: calc(3% + 24px)
    }

    .details-button {
        color: white;
        background-color: rgb(237, 45, 86);
        border: none;
        padding: 1.5%;
        margin-top: 2%;
        border-radius: 10px;
    }
    .addReview{
        margin-left : 29%;
        width : 50%
    }
   
}

.margin-review{
    margin-left: 50%;
}
.mouse-pointer{
    cursor: pointer;
}

.about-reviews-margin{
    margin-left : 29%;
}
.material-icon-red-color {
    color: red;
}

.material-icon-black-color {
    color: black;
}
.opening-hours {
    width: 29%;
    margin-left: 15%;

}
.more-information-margin {
    margin-left: 41%;
}
.margin-review{
    margin-left: 50%;
}
.review-margin {
    margin: auto;
}
.review-privacy {
    font-style: italic;
    font-size: small;
}
.italic-font-style {
    font-style: italic
}
.error-message {
    position: absolute;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    width: 43%;
    height: 34%;
    bottom: 164px;
    right: 52%;
    border-radius: 25px;


}
.errorCloseButton{
    position: absolute;
    right: 10px;
    top: 5px;
}

.review-width {
    width: auto;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .about-reviews-margin{
        margin-left : auto;
    }
    .opening-hours {
        width: 33%;
        margin-left: 15%;
    }
    
  }
  
/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .about-reviews-margin{
        margin-left : auto;
    }
    .opening-hours {
        width: 33%;
        margin-left: 15%;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  
    .about-reviews-margin{
        margin-left : auto;
    }
    .opening-hours {
        width: auto;
        margin-left: 15%;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  
    .about-reviews-margin{
        margin-left : auto;
    }
    .opening-hours {
        width: auto;
        margin-left: 15%;
    }
    
}


i.icon-green {
    color: green;
}

i.icon-grey {
    color: grey;
}