<mat-card *ngIf="isLoaded" class="venue-card">
  <mat-card-header>
    <mat-card-title class="venue-header">{{ venue.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image class="desktop-resize" src={{venue.image_url}} alt="Photo of the venue">
  <mat-card-content>
    <p class="basic-information">
      <span><i class="icon material-icons">public</i></span>
      <span class="text link-text" (click)="website_redirect()">Website</span>
    </p>
    <p class="venue-details">
      <span><i class="icon material-icons">map</i></span>
      <span class="text link-text" (click)="maps_redirect()">{{venue.name}}</span>
      <br>
      <br>
      <span class="lower-text">{{venue.city}}, {{venue.state}}</span>
    </p>
    <p class="venue-details">
      <span><i class="icon material-icons">local_offer</i></span>
      <span class="text">{{format_price()}}</span>
    </p>
  </mat-card-content>
</mat-card>
