<!-- <div class="banner-section events-banner">
  <div class="banner-mobile">
    <img src="../../assets/web_images/home_hiking.jpg" />
    <h1 class="text-center heading-mobile"><span>Hiking</span> Perfect for your family</h1>
  </div>
</div> -->
<div class="container-fluid">

    <app-masonsry-hiking-view *ngIf="oldFilterData" [trails]=hiking_explore [start]=start [end]=end>
    </app-masonsry-hiking-view>
    <app-masonsry-hiking-view *ngIf="newFilterData" [trails]=hiking_explore [start]=start [end]=end>
    </app-masonsry-hiking-view>

  
  </div>