
.banner {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background-color: white;
    text-align: center;
    width: 100%;
    left: 0;
}

.link-to-kin {
    border-top: 1px solid;
    padding: 4%;
    margin: 0 !important;
    font-size: 17px;
    color: black;
}

.kin-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.logo {
    height: 30px;
    width: 35px;
    position: relative;
    top: 10px;
}

.clear-search {
    font-size: 11px;
    font-weight: 300;
    color: #459bca;
}

/* Phones */ 
@media only screen and (max-width : 767px) {
    .loading-gif {
        margin-left: 10%;
    }

    .event-listing-card {
        margin: 0% 5% 30% 5% !important;
    }
    
     .detail-buttons {
        color: white;
        background-color: #ef6c57;
        border: none;
        padding: 25px;
        margin-top: 2%;
        font-family: Montserrat;
        border-radius: 10px;
        border: none;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
    }
    
}

/* Tablets */
@media only screen and (min-width : 768px) and (max-width : 1280px) {
    .loading-gif {
        margin-left: 35%;
    }

    .event-listing-card {
        margin: 0% 5% 12% 5% !important;
    }
    
     .detail-buttons {
        color: white;
        background-color: #ef6c57;
        border: none;
        padding: 25px;
        margin-top: 2%;
        font-family: Montserrat;
        border-radius: 10px;
        border: none;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
    }
    
}

/* Desktop */
@media only screen and (min-width : 1281px) {
    .loading-gif {
        margin-left: 40%;
    }

    .event-listing-card {
        margin: 0% 5% 12% 7% !important;
    }
    
     .detail-buttons {
        color: white;
        background-color: #ef6c57;
        border: none;
        padding: 20px;
        margin-top: 2%;
        font-family: Montserrat;
        border-radius: 10px;
        border: none;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
    }
    
}


.detail-buttons-space {
    text-align: center;
}

.mouse-pointer{
    cursor: pointer;
}

.close-x {
  stroke: black;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 2;
}
