<div class="main" class="main-dev">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Sign up</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">

                                <label>First Name</label><label style="color: red;">*</label>
                                <input type="text" formControlName="first_name" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }"
                                       placeholder="First Name" required/>
                                <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                                    <div *ngIf="f.first_name.errors.required">
                                        <label style="font-style: italic;color: red">
                                        First Name is required
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" formControlName="last_name" placeholder="Last Name"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Email</label><label style="color: red">*</label>
                                <input type="email" formControlName="email" placeholder="Email" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.email.errors }" email/>
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">
                                        <label style="font-style: italic;color: red">
                                        Email is required</label>
                                    </div>
                                    <div *ngIf="f.email.errors.email">
                                        <label style="font-style: italic;color: red">
                                        Email must be a valid email address</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label>Zip Code</label><label style="color: red;">*</label>

                                <input type="text" formControlName="zip_code" placeholder="ZipCode" minlength="5"
                                       maxlength="6" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.zip_code.errors }"/>
                                <div *ngIf="submitted && f.zip_code.errors" class="invalid-feedback">
                                    <div *ngIf="f.zip_code.errors.required">
                                        <label style="font-style: italic;color: red">
                                        Zip code is required</label>
                                    </div>
                                    <div *ngIf="f.zip_code.errors?.minlength">
                                        <label style="font-style: italic;color: red">
                                        Please Enter valid Zip Code</label>
                                    </div>
                                    <div *ngIf="f.zip_code.errors?.maxlength">
                                        <label style="font-style: italic;color: red">
                                        Please Enter valid Zip Code</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="p-like-anchor" (click)="toggle_show_kif_form()">
                        For more personalized recommendations,
                        please provide a few more details!!!</p>

                    <form [formGroup]="childForm" *ngIf="show_kid_form">
                        <div formArrayName="child_array">
                            <div *ngFor="let item of newChild.controls; let pointIndex=index"
                                 [formGroupName]="pointIndex">


                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Kids NickName</label>
                                            <input type="text" formControlName="nick_name" class="form-control"/>

                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Kids Age</label>
                                            <input type="number" required formControlName="age"
                                                   class="form-control"
                                                   min="1"
                                                   max="15"
                                            />
                                        </div>

                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Kids Interests</label>
                                            <input type="text" formControlName="interests" class="form-control"/>

                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                       <br>

                                        <div class="form-group">
                                            <span>
                                        <i class="fa fa-plus-circle fa-2x" aria-hidden="true"
                                                  (click)="addNewChild()"></i>
                                                </span>&nbsp;&nbsp;

                                        <i class="fa fa-times fa-2x" aria-hidden="true"
                                           (click)="deleteChild(pointIndex)" hidden></i>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>

                    </form>
                    <div class="form-group">
                        <button class="btn btn-primary">Sign me up</button>
                    </div>
                    <div class="alert alert-success" *ngIf="isSuccessVisible">
                        <strong>Success! You have successfully signed up with Kin</strong>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="home-privacy"><a href="https://www.iubenda.com/privacy-policy/90386501" target="_blank"
                                 style="color:gray">PRIVACY
        POLICY</a></div>

</div>