<div class="container-fluid">
    <div class="home-image-div">
        <div class="saved" fxLayout="row wrap">
            <div class="px-3" fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start start">
                   <h1 class="saved-h">Saved {{entity_type | titlecase}}s</h1>
            </div>
        </div>
        
        <div class="event-listing-card">
            <div *ngIf="isErrorVisible"><div class="error-message-text alert-danger">{{errorMessage}}</div></div>
            <app-masonsry-saved-view *ngIf="newFilterData"  [type]="entity_type" [venues]=data_list [start]=start [end]=end></app-masonsry-saved-view>
            <app-masonsry-saved-view  *ngIf="oldFilterData" [type]="entity_type" [venues]=data_list [start]=start [end]=end></app-masonsry-saved-view>
        </div>
    </div>
  </div>