
	.footer-new{
		border-top:1px solid #ef6c57;
		border-bottom:1px solid #ef6c57;
		text-align: center;
	}
	.company{
		color: #5d5d5a;
		font-size: 20px;
		font-weight: bold;
	}
	ul.links{
		padding: 0;
    list-style: none;
	}
	ul.links li a{ 
	color: #5d5d5a;
	font-size: 20px
}
.social span{
	width:50px;
	display:inline-block;
	margin-right: 5px;
}
.social span img{
	width:100%;
}