<footer class="footer">
  <div class="footer" id="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6">
                  <h3> Company </h3>
                  <ul>
                      <li> <a [routerLink]="['/','about-us']"> About </a> </li>
                      <li> <a [routerLink]="['/','contact-us']"> Contact Us </a> </li>
                      <li> <a [routerLink]="['/','help']"> Help </a> </li>
                  
                  </ul>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <h3> Social </h3>
                <ul class="social">
                    <li> <a href="#"> <img src="../../assets/icons/facebook.png"/> </a> </li>
                    <li> <a href="#"> <img src="../../assets/icons/instagram.png"> </a> </li>
                    <li> <a href="#"> <img src="../../assets/icons/twitter.png"> </a> </li>

                </ul>
            </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                  <h3> Legal </h3>
                  <ul>
                      <li> <a [routerLink]="['/','privacy']"> Privacy Policy </a> </li>
                      <li> <a [routerLink]="['/','terms']"> Terms of use </a> </li>
                  </ul>
              </div>
          </div>
          <!--/.row--> 
      </div>
      <!--/.container--> 
  </div>
  <!--/.footer-->
  

  <!--/.footer-bottom--> 
</footer>