
.footer-new{
    text-align: center;
    padding-bottom: 25px;
    padding-top: 20px;
    background-image: linear-gradient(#E5E7E9, #F8F9F9 15%, #FFFFFF);
}
.company{
    font-size: 20px;
    font-weight: normal;
    font-family: Montserrat;
    margin-top:2%;
    padding: 15px;
    text-transform: camelcase;

}
ul.links{
    padding: 0;
    list-style: none;
}
ul.links li a{ 
    color: #000000;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 300;
    text-transform: camelcase;
}
.social span{
	width:50px;
	display:inline-block;
	margin-right: 5px;
	margin-top: 15px;
}
.social span img{
	width:80%;
}
