<footer class="footer">
  
      <div class="Path-40">
          <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6">
                  <h3 class="Company"> Company </h3>
                  <ul>
                      <li> <a class="About-Us" [routerLink]="['/','about-us']"> About Us</a> </li>
                      <li> <a class="Contact-Us" [routerLink]="['/','contact-us']"> Contact Us </a> </li>
                      <li> <a class="Help" [routerLink]="['/','help']"> Help </a> </li>
                  
                  </ul>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <h3> Social </h3>
                <ul class="social">
                    <li> <a href="#"> <img src="../../assets/icons/facebook.png"/> </a> </li>
                    <li> <a href="#"> <img src="../../assets/icons/instagram.png"> </a> </li>
                    <li> <a href="#"> <img src="../../assets/icons/twitter.png"> </a> </li>
                    <li> <a href="#"> <img src="../../assets/icons/printrest.png"> </a> </li>

                </ul>
            </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                  <h3> Legal </h3>
                  <ul>
                      <li> <a class="Privacy-Policy" [routerLink]="['/','privacy']"> Privacy Policy </a> </li>
                      <li> <a class="Terms-of-use" [routerLink]="['/','terms']"> Terms of use </a> </li>
                    
                  </ul>
              </div>
          </div>
          <!--/.row--> 
         
      </div>
      <!--/.container--> 

  <!--/.footer-->
  <hr class="border-bottpm">

  <!--/.footer-bottom--> 
</footer>