<div class="container-fluid">
<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center header-home-margin">
  <div class="container-fluid nav-sec">
    <div class="col-md-3 col-3">
        <a class="navbar-brand d-flex w-50 Home-header">
            <label class="cursor" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">Home</label>
          </a>
    </div>
    <div class="col-md-6 col-6">
        <div class="navbar-collapse w-100">
            <ul class="navbar-nav w-100 justify-content-center navbar-nav-spaces">
                <li class="nav-item">
                    <a class="nav-link Home-header" [routerLinkActive]="['active']" 
                    [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/','events']">Events</a>
                </li>
              
                <li class="nav-item ">
                  
                    <a class="nav-link Home-header" [routerLinkActive]="['active']"
                     [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/','camps']">Camps</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link Home-header " [routerLinkActive]="['active']"
                     [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/','venues']">Places</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 col-3">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-center">
         
            <li class="nav-item sign">
              <button class="btn path-38 Sign-up" [routerLink]="['/','sign-up']">Sign up !</button>
            </li>
        </ul>
    </div>
  </div>
   
    <!-- <a  class="navbar-brand d-flex w-50 Home-header" >Home </a> -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    
</nav>
</div>