.Path-38 {
    width: 146.9px;
    height: 62.3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #5d5d5a;
}

.Sign-up {
    width: 105px;
    height: 41px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #eff1f4;
}