<nav class="navbar navbar-light navbar-expand-md">
    <a href="/" class="navbar-brand mr-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">
    <!-- <img src="../../assets/web_images/new_kin_logo_final15perc.png" class="logo-icon" /> -->
    <img src="../../assets/web_images/beta_kin_3.png" class="logo-icon" />
    </a> 
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item">
                <a class="nav-link navbar-brand mr-0 Home-header" [routerLinkActive]="['active']" 
                    [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/','events']">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-brand mr-0 Home-header" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/','venues']">Places</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-brand mr-0 Home-header " [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/','camps']">Camps</a>
            </li>
        </ul>
        <ul class="navbar-nav flex-row justify-content-center flex-nowrap">
            <li class="nav-item mr-3"><a class="nav-link nav-button" href="https://www.messenger.com/t/kinparenting" target="_blank">
		<button class="btn path-38 sign_up">Chat with Kin</button>
		</a> 
           </li>
            <li class="nav-item"><a class="nav-link nav-button" href=""  
                 [routerLink]="['/','sign-up']"> 
		<button class="btn path-38 sign_up">Sign Up!</button>
		</a> 
	</li>
        </ul>
    </div>
</nav>
