.navbar{
  padding: 30px 5%;
  background: #fff;
  font-family: Montserrat;
}
.navbar .navbar-brand{
  color: #5d5d5a;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 20px;
  font-weight: bold;
  padding: 2px 5px;
}
.navbar-light .navbar-nav .nav-link{
  color: #5d5d5a;
  font-size: 20px;
  font-weight: bold;
}
@media (min-width: 768px){
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 0px 60px;
  }
  .navbar-expand-md .navbar-nav .nav-link.nav-button{
    padding: 0px;
  }
}
.active{
  border-bottom: 5px solid #ef6c57;
}
.sign-up{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #5d5d5a;
  border-radius: 30px;
  color: #eff1f4;
  font-size: 24px;
  font-weight: 100;
  padding: 10px 30px;
}