

.Home-header {
   
    /* text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); */
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #5d5d5a;
    
  }
  .cursor {
    cursor: pointer;
  }



  .Rectangle-215 {
    border-bottom: 5px solid #ef6c57;
    padding-bottom: 30px;
   
}
  .active {
    border-bottom: 3px solid #ef6c57; 
   
 }

.navbar-nav > li{
  /* padding-left:30px; */
  padding-right: 18% !important;
  
}

.Sign-up {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  border-radius: 28px;
  color: white;
  
 
}
.path-38{
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
  background-color: #5d5d5a;
  float: right;
 
}

.navbar{
  padding: 15px 4%;
}
.nav-sec{
  padding:0px;
}

.nav-right{
  padding-left:97%;

}

