<app-layout-header></app-layout-header>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <label class="BubblegumSans main-text-margin-top">Terms
          <span class="policy">of use</span></label>
    </div>
    <div class="col-md-6">
      <img src="../../assets/isometric_pics/termsicon.png" class="Rectangle-234">
    </div>
  </div>
  <label class="Terms-of-use">Terms of use</label>
  <hr class="Rectangle-233">
  <hr class="Rectangle-233">
</div>
<app-layout-footer></app-layout-footer>
