<app-layout-header></app-layout-header>
<mat-card *ngIf="isLoaded" class="event-card">
  <div class="row">
    <div class="col-md-12">
      <mat-card-header>
        <mat-card-title class="event-header">{{ event.name }}</mat-card-title>
      </mat-card-header>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"> <img mat-card-image class="header-image" [src]=event.image_url alt="Photo of the event">
    </div>
    <div class="col-md-4"></div>
  </div>
  <hr class="hr-Rectangle-200">
  <mat-card-content>
    <div class="row justify-content-center">
      <div class="row">
        <div class="col">
          <div class="mb-2">
            <div class="cursor" title="Save disabled" *ngIf="is_parent_id === false">
              <img src="../../assets/icons/save_grey.png" class="actionIcon" />
            </div>
            <div class="cursor" title="Save" (click)="save_event()" *ngIf="is_parent_id === true && isSaveVisible !== true">
              <img class="actionIcon" src="../../assets/icons/save_blue.png" />
            </div>
            <div class="" title="Saved" *ngIf="isSaveVisible">
              <img class="actionIcon" src="../../assets/icons/save_orange.png" />
            </div>

          </div>
        </div>
        <div class="col">
          <div class="d-flex text-center mb-2">
            <div class="cursor"  *ngIf="is_parent_id === false" title="Add Review">
              <img src="../../assets/icons/review_grey.png" class="actionIcon" />
            </div>
            <div class="cursor" *ngIf="is_parent_id" (click)="add_review_redirect(2)" title="Add Review">
              <img src="../../assets/icons/review_blue.png" class="actionIcon" />
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mb-2">
            <div class="item item-3 cursor" (click)="calendar_redirects()" title="Add to Calendar" >
              <img src="../../assets/icons/noun_Calendar_2.png" class="actionIcon" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-content>

    <mat-tab-group class="tabs" (selectedTabChange)="show_reviews($event)"
      [selectedIndex]="selectedIndex">
      <mat-tab label="About">
        <mat-card>
          <mat-card-content class="about-font">
            <p class="basic-information">
              <span><img src="../../assets/icons/noun_age_1.png" alt="Age" title="Age" class="icon"></span>
              <span class="description">{{format_age()}}</span>
            </p>
            <p class="basic-information " *ngIf="event.description" title="Description">
              <span><img src="../../assets/icons/noun_Information_1.png" alt="Description" title="Description" class="icon"></span>
              <span class="description">{{event.description}}</span>
           </p>
            <p class="event-details">
              <span><img src="../../assets/icons/noun_address_1.png" alt="Location" title="Location" class="icon"></span>
              <span class="description" (click)="maps_redirect()">{{event.venue}}</span>
              <br>
              <br>
              <span class="description">{{event.street}}, {{event.city}}, {{event.state}}</span>
            </p>
            <p class="basic-information" *ngIf="eventCatString">
                <span><img src="../../assets/icons/noun_categories_1.png" alt="Category" title="Category" class="icon"></span>
                <span class="description">{{eventCatString}}</span>
            </p>

            <p class="event-details">
              <span><img src="../../assets/icons/noun_Date%20and%20Time_1.png" alt="Date and Time" title="Date and Time" class="icon"></span>
              <span class="description">{{event.start_date | date:'longDate'}}</span>
              <br>
              <br>
              <span title="Time" class="description">{{format_time(event.start_time)}} - {{format_time(event.end_time)}}</span>
            </p>
            <p class="event-details">
              <span><img src="../../assets/icons/noun_price_1.png" alt="Price" title="Price" class="icon"></span>
              <span  class="description">{{format_price()}}</span>
            </p>
            <mat-card-actions class="details-buttons-space">
              <button mat-button class="detail-buttons mouse-pointer" (click)="event_redirect()">EVENT WEBSITE</button>
            </mat-card-actions>

          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Reviews" *ngIf="reviews_present">
        <mat-card class="reviews-font">
          <div class="margin-review">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="review-width" *ngFor="let current_review of user_reviews;">
                    <table>
                        <tr>
                            <td><img src="../../assets/icons/noun_Speech%20Bubble_822548.png" alt="Speech Bubble" class="comment-icon"></td>
                            <td>{{current_review.review}}</td>
                        </tr>
                    </table>
                </div>
                <div *ngIf="no_reviews">
                    No reviews yet!  
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </mat-card>
      </mat-tab>
      <mat-tab label="Add Review" *ngIf="is_review_click">
        <mat-card>
          <div class="form-group review-margin">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <h4 class="review-heading" align="center">Write a review</h4>
                <textarea class="form-control" rows="5" id="review" placeholder="Add review or tips to other parents"
                  [(ngModel)]="review" required (change)="validate_review()"></textarea>
                <small id="miscHelp" class="form-text text-muted italic-font-style">We respect your
                  privacy. Your name will not be shown to other
                  users
                </small>
                <div *ngIf="isErrorVisible" class="alert alert-danger">
                  <div>
                    {{errorMessage }}
                  </div>
                </div>
                <div *ngIf="isSuccessVisible" class="alert alert-success">
                  <div>
                    {{errorMessage }}
                  </div>
                </div>
                <div class="form-group review-margin btn-sec">
                  <button type="button" class="btn btn-sign-up" (click)="add_review()">Submit</button>
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </mat-card>
      </mat-tab>

      <!-- <mat-tab label="Fourth">   </mat-tab> -->
    </mat-tab-group>

  </mat-card-content>
  <hr class="hr-Rectangle-200">
  <br> <br>
