<app-layout-header></app-layout-header>

<div class="container-fluid">
    <div class="main-section">

        <mat-card class="trail-card" *ngIf="trail">
            <div class="row">
                <div class="col-md-12">
                    <mat-card-header>
                        <mat-card-title class="trail-header">{{trail.name}}</mat-card-title>
                    </mat-card-header>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"> <img mat-card-image class="header-image" [src]=trail.image_urls.first
                        alt="Photo of the trail"></div>
                <div class="col-md-4"></div>
            </div>
            <hr class="hr-Rectangle-200">

            <mat-card-content>
                <div class="row justify-content-center">
                    <div class="row">
                        <div class="col">
                            <div class="mb-2">
                                <div class="cursor" title="Save" *ngIf="is_parent_id === false">
                                    <img src="../../assets/icons/save_grey.png" class="actionIcon" />
                                </div>
                                <div class="cursor" title="Save" (click)="save_trail()"
                                    *ngIf="is_parent_id && isSaveVisible != true">
                                    <img class="actionIcon" src="../../assets/icons/save_blue.png" />
                                </div>
                                <div class="cursor" title="Saved" *ngIf="isSaveVisible">
                                    <img class="actionIcon" src="../../assets/icons/save_orange.png" />
                                </div>

                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex text-center mb-2">
                                <div class="cursor" (click)="add_review_redirect(2)" *ngIf="is_parent_id === false"
                                    title="Add Review">
                                    <img src="../../assets/icons/review_grey.png" class="actionIcon" />
                                </div>
                                <div class="cursor" *ngIf="is_parent_id" (click)="add_review_redirect(2)"
                                    title="Add Review">
                                    <img src="../../assets/icons/review_blue.png" class="actionIcon" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </mat-card-content>
        </mat-card>

        <mat-tab-group class="tabs about-reviews-margin" [selectedIndex]="selectedIndex" *ngIf="trail">
            <mat-tab label="About">
                <mat-card>
                    <mat-card-content class="about-font" *ngIf="trail">
                        <p class="basic-information " *ngIf="trail.description">
                            <span><img src="../../assets/icons/hiking/description.png" alt="Description"
                                    title="Description" class="icon"></span>
                            <span class="wrap">{{trail.description}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.city">
                            <span><img src="../../assets/icons/hiking/address.png" alt="Address" title="Address"
                                    class="icon"></span>
                            <span class="wrap">{{format_address()}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.length">
                                <span><img src="../../assets/icons/hiking/noun_distance_668133.png" alt="Length" title="Trail length"
                                        class="icon"></span>
                                <span class="wrap">{{trail.length}} miles</span>
                        </p>
                        <p class="basic-information" *ngIf="ratings">
                                <span><img src="../../assets/icons/hiking/ratings.png" alt="Ratings" title="Ratings"
                                        class="icon"></span>
                                <span class="wrap">{{ratings}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.stroller_friendly.more_info !== 'NA'">
                                <span><img src="../../assets/icons/hiking/noun_Stroller_161.png" alt="Stroller Friendly" title="Stroller Friendly"
                                        class="icon"></span>
                                <span class="wrap">{{stroller_friendly}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.bathrooms.more_info !== 'NA'">
                                <span><img src="../../assets/icons/hiking/noun_Bathroom_151635.png" alt="Bathrooms" title="Bathrooms"
                                        class="icon"></span>
                                <span class="wrap">{{bathrooms}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.entrance_fee.more_info !== 'NA'">
                            <span><img src="../../assets/icons/hiking/entrance.png" alt="Entrance Fee" title="Entrance Fee"
                                    class="icon"></span>
                            <span class="wrap">{{entrance_fee}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.parking.more_info !== 'NA'">
                            <span><img src="../../assets/icons/hiking/noun_Parking_1378758.png" alt="Parking" title="Parking"
                                        class="icon"></span>
                            <span class="wrap">{{parking}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.trail_surface">
                                <span><img src="../../assets/icons/hiking/noun_Trail_523.png" alt="Trail Surface" title="Trail Surface"
                                            class="icon"></span>
                                <span class="wrap">{{trail.trail_surface}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.difficulty.level">
                                <span><img src="../../assets/icons/hiking/noun_Difficulty_1143709.png" alt="Difficulty" title="Difficulty"
                                            class="icon"></span>
                                <span class="wrap">{{format_difficulty()}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.attractions">
                                <span><img src="../../assets/icons/hiking/noun_highlights_1026249.png" alt="Attractions" title="Attractions"
                                            class="icon"></span>
                                <span class="wrap">{{trail.attractions}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.tips">
                                <span><img src="../../assets/icons/hiking/tips.png" alt="Tips" title="Tips"
                                            class="icon"></span>
                                <span class="wrap">{{trail.tips}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.carrier.more_info !== 'NA'">
                                <span><img src="../../assets/icons/hiking/noun_carrier_1996252.png" alt="Carrier" title="Carrier"
                                            class="icon"></span>
                                <span class="wrap">{{carrier}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.ada_accessible.more_info !== 'NA'">
                                <span><img src="../../assets/icons/hiking/noun_Accessibility_2392994.png" alt="ADA Accessibility" title="ADA Accessibility"
                                            class="icon"></span>
                                <span class="wrap">{{ada_accessible}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.water_feature">
                                <span><img src="../../assets/icons/hiking/noun_Lake_2437407.png" alt="Water feature" title="Water feature"
                                            class="icon"></span>
                                <span class="wrap">{{trail.water_feature}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.picnicing.more_info !== 'NA'">
                                <span><img src="../../assets/icons/hiking/noun_Picnic_1753913.png" alt="Picnicr" title="Picnic"
                                            class="icon"></span>
                                <span class="wrap">{{picnicing}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.in_park_food.more_info !== 'NA'">
                                <span><img src="../../assets/icons/hiking/food.png" alt="In park food" title="In park food"
                                            class="icon"></span>
                                <span class="wrap">{{in_park_food}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.emergency_support.more_info !== 'NA'">
                                <span><img src="../../assets/icons/hiking/noun_emergency_1784248.png" alt="Emergency support" title="Emergency support"
                                            class="icon"></span>
                                <span class="wrap">{{emergency_support}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.shade">
                                <span><img src="../../assets/icons/hiking/noun_shade_637740.png" alt="Shade" title="Shade"
                                            class="icon"></span>
                                <span class="wrap">{{trail.shade}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.elevation">
                                <span><img src="../../assets/icons/hiking/noun_elevation_525997.png" alt="Elevation" title="Elevation"
                                            class="icon"></span>
                                <span class="wrap">{{trail.elevation}} ft.</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.type">
                                <span><img src="../../assets/icons/hiking/noun_Loop_2500157.png" alt="Type" title="Type"
                                            class="icon"></span>
                                <span class="wrap">{{trail.type}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.best_season">
                                <span><img src="../../assets/icons/hiking/noun_season_2079064.png" alt="Best season to visit" title="Best season to visit"
                                            class="icon"></span>
                                <span class="wrap">{{trail.best_season}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.pet_friendly.more_info !== 'NA'">
                                <span><img src="../../assets/icons/hiking/noun_Pet_1859363.png" alt="Pets" title="Pets"
                                            class="icon"></span>
                                <span class="wrap">{{pet_friendly}}</span>
                        </p>
                        <p class="basic-information" *ngIf="trail.nearby_camps.more_info !== 'NA'">
                                <span><img src="../../assets/icons/hiking/noun_camp_2498543.png" alt="Camps" title="Camps"
                                            class="icon"></span>
                                <span class="wrap">{{nearby_camps}}</span>
                        </p>

                        <mat-card-actions class="detail-buttons-space">
                            <button mat-button class="detail-buttons mouse-pointer" (click)="trail_redirect()">TRAIL
                                WEBSITE</button>
                        </mat-card-actions>


                    </mat-card-content>
                </mat-card>
            </mat-tab>
            <mat-tab label="Reviews" *ngIf="reviews_present">
                <mat-card class="reviews-font">
                    <div class="margin-review">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div *ngFor="let current_review of user_reviews;">
                                    <table>
                                        <tr>
                                            <td><img src="../../assets/icons/noun_Speech%20Bubble_822548.png"
                                                    alt="Speech Bubble" class="review-icon"></td>
                                            <td class="review-text">{{current_review.review}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </mat-card>
            </mat-tab>
            <mat-tab label="Add Review" *ngIf="is_review_click" style="width: 50%">
                <mat-card>
                    <div class="form-group review-margin">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <h4 class="review-heading" align="center">Write a review</h4>
                                <textarea class="form-control" rows="5" id="review"
                                    placeholder="Add review or tips to other parents" [(ngModel)]="review" required
                                    (change)="validate_review()"></textarea>
                                <small id="miscHelp" class="form-text text-muted italic-font-style">We respect your
                                    privacy. Your name will not be shown to other
                                    users
                                </small>
                                <div *ngIf="isErrorVisible" class="alert alert-danger">
                                    <div>
                                        {{errorMessage }}
                                    </div>
                                </div>
                                <div *ngIf="isSuccessVisible" class="alert alert-success">
                                    <div>
                                        {{errorMessage }}
                                    </div>
                                </div>
                                <div class="form-group review-margin btn-sec">
                                    <button type="button" class="btn btn-sign-up" (click)="add_review()">Submit</button>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
        <hr class="hr-Rectangle-200">
    </div>
</div>
<br> <br>