<ng-container>
  <div class="banner-section events-banner">
    <div class="banner-mobile">
      <img src="../../assets/web_images/home_events.jpg" />
      <h1 class="text-center heading-mobile">Family-friendly <span>Events</span> around you</h1>
    </div>

    <div class="banner-wrapper">
      <h1 class="text-center heading-desktop">Family-friendly <span>Events</span> around you</h1>
      <div class="filter-box">
        <div class="row filter-box-content" *ngIf="(isAuthenticated$ | async) == false">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1">
            <div class="input-group">
              <input type="text" class="form-control keyword-text search-style" (keyup.enter)="filter_event_data()" placeholder="Search"
                [(ngModel)]="keyword">
            </div>
          </div>
          <div class="col-lg-3 col-md-2 col-sm-6 col-xs-2 mb-2">
            <div class="dropdown">
              <button class="btn btn-lg btn-default filter-dropdown" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{cat_label}}
                <span class="hairline-down">
                  <svg xmlns="http://www.w3.org/2000/svg" style="fill: #FFFFFF" width="12" height="12"
                    viewBox="0 0 24 24">
                    <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" />
                  </svg>
                </span>
              </button>
              <div class="dropdown-menu add-scroll" aria-labelledby="dropdownMenuButton">
                <label class="dropdown-item cursor" (click)="onCategoryChange(each_cat)" *ngFor="let each_cat
                  of categoryList">{{each_cat.name}}</label>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-2 mb-2">
            <div class="dropdown">
              <button class="btn btn-lg btn-default filter-dropdown" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{loc_label}}
                <span class="hairline-down">
                  <svg xmlns="http://www.w3.org/2000/svg" style="fill: #FFFFFF" width="12" height="12"
                    viewBox="0 0 24 24">
                    <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" />
                  </svg>
                </span>
              </button>
              <div class="dropdown-menu add-scroll" aria-labelledby="dropdownMenuButton">
                <label class="dropdown-item cursor" (click)="onLocationChange(each_location)" *ngFor="let each_location
                  of locations">{{each_location.name}}</label>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-2 col-md-2 col-sm-6 col-xs-2 mb-2">

            <div class="dropdown">
              <button class="btn btn-lg btn-default filter-dropdown" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{date_label}}
               
              </button>
              <div class="dropdown-menu add-scroll" aria-labelledby="dropdownMenuButton">
                <label class="dropdown-item cursor" (click)="onDateChange(data)" *ngFor="let data
                          of dateFilter">{{data.desc}}</label>
              </div>
            </div>
          </div> -->
          <div class="datepicker">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date">
              <span class="hairline-down">
                <svg xmlns="http://www.w3.org/2000/svg" style="fill: #FFFFFF" width="12" height="12"
                  viewBox="0 0 24 24">
                  <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" />
                </svg>
              </span>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-xs-1 search-button">
            <svg class="input-group-addon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              class="svg-icons cursor" (click)="filter_event_data()">
              <path
                d="M 5 3 C 3.895 3 3 3.895 3 5 L 3 19 C 3 20.105 3.895 21 5 21 L 19 21 C 20.105 21 21 20.105 21 19 L 21 5 C 21 3.895 20.105 3 19 3 L 5 3 z M 11 6 C 13.761 6 16 8.239 16 11 C 16 12.019 15.691969 12.963906 15.167969 13.753906 L 17.707031 16.292969 C 18.098031 16.682969 18.098031 17.317031 17.707031 17.707031 C 17.316031 18.098031 16.682969 18.098031 16.292969 17.707031 L 13.753906 15.167969 C 12.963906 15.691969 12.019 16 11 16 C 8.239 16 6 13.761 6 11 C 6 8.239 8.239 6 11 6 z M 11 8 A 3 3 0 0 0 8 11 A 3 3 0 0 0 11 14 A 3 3 0 0 0 14 11 A 3 3 0 0 0 11 8 z"
                style="fill: #FFD700;"></path>
            </svg>
          </div>
          <button type="button" class="btn btn-link cursor clear-search" (click)="clear_filter_data()">Clear
            Search</button>
        </div>
        <div class="row filter-box-content" *ngIf="isAuthenticated$ | async">
          <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-1">
            <input type="text" class="form-control keyword-text search-style" placeholder="Search" [(ngModel)]="keyword"
              (keyup.enter)="filter_event_data();" name="keyword">
          </div>
          <div class="dropdown col-lg-3 col-md-2 col-sm-6 col-xs-2 mb-2">
            <button class="btn btn-lg btn-default filter-dropdown" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{cat_label}}
              <span class="hairline-down">
                <svg xmlns="http://www.w3.org/2000/svg" style="fill: #FFFFFF" width="12" height="12"
                  viewBox="0 0 24 24">
                  <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" />
                </svg>
              </span>
            </button>
            <div class="dropdown-menu add-scroll" aria-labelledby="dropdownMenuButton">
              <label class="dropdown-item cursor" (click)="onCategoryChange(each_cat)" *ngFor="let each_cat
                      of categoryList">{{each_cat.name}}</label>
            </div>
          </div>
          <div class="dropdown col-lg-2 col-md-2 col-sm-6 col-xs-2 mb-2">
            <button class="btn btn-lg btn-default filter-dropdown" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{loc_label}}
              <span class="hairline-down">
                <svg xmlns="http://www.w3.org/2000/svg" style="fill: #FFFFFF" width="12" height="12"
                  viewBox="0 0 24 24">
                  <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" />
                </svg>
              </span>
            </button>
            <div class="dropdown-menu add-scroll" aria-labelledby="dropdownMenuButton">
              <label class="dropdown-item cursor" (click)="onLocationChange(each_location)" *ngFor="let each_location
                      of locations">{{each_location.name}}</label>
            </div>
          </div>
          <div class="dropdown col-lg-2 col-md-2 col-sm-6 col-xs-2 mb-2 ">
            <button class="btn btn-lg btn-default filter-dropdown" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{date_label}}
              <span class="hairline-down">
                <svg xmlns="http://www.w3.org/2000/svg" style="fill: #FFFFFF" width="12" height="12"
                  viewBox="0 0 24 24">
                  <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" />
                </svg>
              </span>
            </button>
            <div class="dropdown-menu add-scroll" aria-labelledby="dropdownMenuButton">
              <label class="dropdown-item cursor" (click)="onDateChange(data)" *ngFor="let data
                              of dateFilter">{{data.desc}}</label>
            </div>
            <div *ngIf="pickDate === true" class="date-picker-input">
              <!-- <mat-form-field> -->
              <input [matDatepicker]="picker" (dateInput)="fromDate('input', $event)" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker" hidden></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <!-- </mat-form-field> -->
            </div>
          </div>


          <div class="col-xs-1 search-button">
            <svg class="input-group-addon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              class="svg-icons cursor" (click)="filter_event_data()">
              <path
                d="M 5 3 C 3.895 3 3 3.895 3 5 L 3 19 C 3 20.105 3.895 21 5 21 L 19 21 C 20.105 21 21 20.105 21 19 L 21 5 C 21 3.895 20.105 3 19 3 L 5 3 z M 11 6 C 13.761 6 16 8.239 16 11 C 16 12.019 15.691969 12.963906 15.167969 13.753906 L 17.707031 16.292969 C 18.098031 16.682969 18.098031 17.317031 17.707031 17.707031 C 17.316031 18.098031 16.682969 18.098031 16.292969 17.707031 L 13.753906 15.167969 C 12.963906 15.691969 12.019 16 11 16 C 8.239 16 6 13.761 6 11 C 6 8.239 8.239 6 11 6 z M 11 8 A 3 3 0 0 0 8 11 A 3 3 0 0 0 11 14 A 3 3 0 0 0 14 11 A 3 3 0 0 0 11 8 z"
                style="fill: #FFD700;"></path>
            </svg>
          </div>
          <button type="button" class="btn btn-link cursor clear-search" (click)="clear_filter_data()">Clear
            Search</button>
        </div>
        <div *ngIf="isFilterErrorVisible">
          <div class="error-message-text alert-danger">{{filterErrorMessage}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid ">
    <div class="event-listing-card">
      <h3 *ngIf="(isAuthenticated$ | async) == false">Upcoming Events</h3>
      <div *ngIf="isAuthenticated$ | async" fxLayout="column">
        <div>
          <mat-slide-toggle *ngIf="!isLogedin" style="float: right" [(ngModel)]="isCalendarView">Calendar view</mat-slide-toggle>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h3 *ngIf="kidHeading !='kid'">{{eventName | titlecase}} Events</h3>
          <h3 *ngIf="kidHeading =='kid'" > Events for {{eventName | titlecase}}</h3>



          <mat-chip-list class="sort-by-mat">
            <div class="form-group">
              <!-- <label for="">Sort by</label> -->
              <i class="fa fa-angle-down" aria-hidden="true"></i>
              <select (change)="sortBy($event.target.value)" class="form-control">
                <option selected disabled hidden>Sort By</option>
                <option [value]="kid.id" *ngFor="let kid of user?.parent?.kids">For {{kid.nick_name}}</option>
                <option value="subscribed">Following</option>
                <option value="nearby">Nearby</option>
                <option value="trending">Trending</option>
                <option value="all">All</option>
              </select>

            </div>
            <div class="mat-list-container">
              <mat-chip (click)="sortBy(kid.id,kid)" *ngFor="let kid of user?.parent?.kids">For {{kid.nick_name}}
              </mat-chip>
              <mat-chip (click)="sortBy('subscribed','')">Following</mat-chip>
              <mat-chip (click)="sortBy('nearby','')">Nearby</mat-chip>
              <mat-chip (click)="sortBy('trending','')">Trending</mat-chip>
              <mat-chip (click)="sortBy('all','')">All</mat-chip>

            </div>
          </mat-chip-list>
        </div>
      </div>
      <div *ngIf="isErrorVisible">
        <div class="error-message-text alert-danger">{{errorMessage}}</div>
      </div>
      <div *ngIf="!isCalendarView">
        <app-masonsry-view *ngIf="newFilterData" [events]=all_data [start]=start [end]=end></app-masonsry-view>
        <app-masonsry-view *ngIf="oldFilterData" [events]=all_data [start]=start [end]=end></app-masonsry-view>

        <mat-card-actions *ngIf="isLogedin === false" class="detail-buttons-space">
          <button mat-button class="detail-buttons mouse-pointer" (click)="checkLogin(moreEvent)">MORE EVENTS</button>
        </mat-card-actions>
        <mat-card-actions *ngIf="isLogedin === true && showMore" class="detail-buttons-space">
          <button mat-button class="detail-buttons mouse-pointer" (click)="loadMore()">MORE EVENTS</button>
        </mat-card-actions>
      </div>
      <app-event-calendar *ngIf="isCalendarView"></app-event-calendar>
    </div>
  </div>
</ng-container>
<ng-template #openModal>
  <div class="modal-body thanks">
    <button type="button" style="float: right;" class="close pull-right" aria-label="Close" (click)="closeDialog()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="text-center">
      <h2 class="app-name">Sign in for {{moreEvent}}</h2>
    </div>
    <div class="btnYN">
      <button class="btnSubmit Rectangle" (click)="signin()" mat-raised-button color="primary"><b class="SIGN-IN">SIGN
          IN</b></button><br>
      New to Kin? <a href="" style="color:#000000;font-family: Montserrat;font-family: 18px;" (click)="signin()">Create
        an account</a>
    </div>
  </div>
</ng-template>