<mat-card *ngIf="isLoaded" class="event-card landing-page">
        <div class="row top-banner">
          <div class="col-md-4 col-sm-12 xs-12  mat-image-wrp"> 
              <img mat-card-image class="header-image" [src]=venue.image_url alt="Photo of the venue">
          </div>
          <div class="col-md-8 col-sm-12 xs-12">
            <div class="contact-section">
              <h3>{{ venue.name }}</h3>
              <p>{{venue.description}}</p>
              <div class="cards-footer">
                <span ><span *ngIf="price">${{price}}</span></span>  
                <ul>
                    <!-- <li (click)="calendar_redirects()" title="Add to Calendar"><button><img src="../../assets/icons/calendar_gray.png" class="dfkg" /> add to calender</button></li> -->
                    
                    <!-- <li><button><img src="../../assets/icons/share.png" class="dfkg" /> share</button></li> -->
                    <li  title="Subscribe" *ngIf="is_parent_id === false || isLogedin === false">
                        <button (click)="checklogin(subscribe)">
                          <img src="../../assets/icons/subscribe_grey.png" class="dfkg" /> subscribe
                        </button>
                      </li>
                      <li  (click)="unsubscribe_venue()" title="UnSubscribe"  *ngIf="isSubscribeVisible == true">
                        <button>
                          <img class="dfkg" src="../../assets/icons/subscribe_orange.png" /> unsubscribe
                        </button>
                      </li>
                      <li   (click)="add_subscription_venue()" title="Subscribe" *ngIf="isLogedin && isSubscribeVisible != true">
                        <button>
                          <img class="dfkg" src="../../assets/icons/subscribe_blue.png" /> subscribe
                        </button>
                      </li>

                    <li  title="Save" *ngIf="is_parent_id === false || isLogedin === false">
                      <button (click)="checklogin(saveEvent)">
                        <img src="../../assets/icons/heart_gray.png" class="dfkg" /> save
                      </button>
                    </li>
                    <li  title="Save" (click)="save_venue()" *ngIf="isLogedin && isSaveVisible != true">
                      <button>
                        <img class="dfkg" src="../../assets/icons/save_blue.png" /> save
                      </button>
                    </li>
                    <li   title="Saved" *ngIf="isSaveVisible">
                      <button>
                        <img class="dfkg" src="../../assets/icons/save_orange.png" /> save
                      </button>
                    </li>
                    <li  *ngIf="is_parent_id === false || isLogedin === false" title="Add Review">
                    <button class="btn path-38" (click)="checklogin(addToReview)">
                        <img src="../../assets/icons/noun_review_1.png" class="dfkg" /> add a review
                      </button>
                    </li>
                    <li *ngIf="isLogedin" (click)="add_review_redirect(2)" title="Add Review">
                      <button class="btn path-38">
                          <img src="../../assets/icons/review_blue.png" class="dfkg" /> add a review
                      </button>
                    </li>
                    <!-- <li class="dropdown-menu-icon">
                    <i class="fas fa-ellipsis-v"></i>
                    <div class="menu-list">
                        <ul>
                          <li><a href=""><i class="fas fa-comment"></i> write a review</a></li>
                          <li><a href=""><i class="fas fa-pen"></i> edit information</a></li>
                        </ul>
                    </div>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row center-section ">
          <div class="col-md-4"> 
            <div class="left-section">
              <h5 *ngIf="timings_array[dayOfWeek]">Date & Time</h5>
              <p class="expand_more" *ngIf="timings_array[dayOfWeek]">Hours Today - {{timings_array[dayOfWeek]}}<span (click)="showMoreHours()" *ngIf="isShowMoreHours"><svg height="12" style="fill: #ef6c57" viewBox="0 0 24 24" width="12" xmlns="http://www.w3.org/2000/svg"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"></path></svg></span>
              
              </p>
              <ul class="list-group" *ngIf="isShowMore" >
                <li
                  (click)="showMoreHours()"
                  *ngFor="let current_slot of timings_array; let even = even; let odd = odd">
                  {{current_slot}}</li>
              </ul>
              <br>
              <h5>Location</h5>
              <p>{{street}}, {{city}}, {{state}}</p>
              <button style="color: #0000FF" class="detail-buttons mouse-pointer" (click)="venue_redirect()">Place website</button>
            </div>
          </div>
          <div class="col-md-8">
            <div class="contact-section">
                <h6  *ngIf="category"><img src="../../assets/icons/noun_categories_1.png" class="dfkg" /> Category</h6>
              <p  *ngIf="category">{{category}}</p>
              <h6 *ngIf="rating"><img src="../../assets/icons/rating.png" class="dfkg" /> Rating</h6>
              <p *ngIf="rating">{{rating}} / {{google_rating_out_of}}</p>
              <h6 *ngIf="parking"><img src="../../assets/icons/parking.png" class="dfkg" /> Parking</h6>
              <p *ngIf="parking">{{parking}}</p>
            </div>
          </div>
        </div>
        <div class="row reviews">
            <div class="col-md-12"> 
              <h2 #reviewsInput>Reviews</h2>
              <!-- <div id="reviews-input-secyion" class="reviews-input-secyion"  *ngIf="is_review_click"> -->
                <div id="reviews-input-secyion" class="reviews-input-secyion">
                <textarea rows="3" placeholder="Some phrase to prompt user to write a review"id="review"
                placeholder="Add review or tips to other parents" [(ngModel)]="review" required
                (change)="validate_review()"></textarea>
                <div *ngIf="isErrorVisible" class="alert alert-danger">
                  <div>
                    {{errorMessage }}
                  </div>
                </div>
                <div *ngIf="isSuccessVisible" class="alert alert-success">
                  <div>
                    {{errorMessage }}
                  </div>
                </div>
                <button class="post-btn" (click)="add_review()">post</button>
              </div>
              <p>Be the first to write a review!</p>
              <div class="post-reviews">
               <ul>
                <li *ngFor="let current_review of user_reviews;">
                  <span><img src="../../assets/icons/profile.png" /></span>
                  <p>{{current_review.review}}</p>
                </li>
                  <!-- <li>
                      <span><img src="../../assets/web_images/events_desktop-sketch.png" /></span>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </li>
                    <li>
                        <span><img src="../../assets/icons/profile.png" /></span>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </li> -->
                </ul>
              </div>
            </div>
          </div>
          <ng-template #deleteuser>
              <div class="modal-body thanks">
                  <button type="button" style="float: right;" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="text-center">
                      <h2 class="app-name">Sign in to {{ClickName}}</h2>
                  </div>
                  <div class="btnYN">
                      <button class="btnSubmit Rectangle" (click)="signin()" mat-raised-button color="primary" ><b class="SIGN-IN">SIGN IN</b></button><br>
                     New to Kin? <a href="" style="color:#000000;font-family: Montserrat;font-family: 18px;" (click)="signin()">Create an account</a>
                  </div>
              </div>
          </ng-template>

        