.navbar {
    padding: 20px 1% 20px 5%;
    font-family: Montserrat;
    font-weight: 400;
}

.navbar .navbar-brand {
    color: #4a4949;
    font-size: 18px;
    padding: 0 40px
}

.navbar-light .navbar-nav .nav-link {
    color: #4a4949;
    font-size: 18px
}

.active {
    border-bottom: 3px solid #ff9734
}

.sign_up {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #4a4949;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
    background-color: gold;
    width: 155px
}

.dropdown-menu {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
}

.dropdown-menu li {
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 3px;
    cursor: pointer
}

.dropdown-menu li:hover {
    background-color: #cad0d0
}

.chat-on-messenger {
    font-family: Montserrat;
    font-size: 18px;
}

@media only screen and (max-width: 767px) {
    .navbar {
        padding: 20px 15px;
        font-family: Montserrat;
        font-weight: 400;
    }
    .dropdown-menu {
        position: absolute;
        left: 0;
    }

    .ic-user {
        padding-top: .5rem;
    }
}

@media only screen and (min-width :768px) and (max-width :1280px) {
    /* .navbar-light .navbar-nav .nav-link {
        color: #4a4949;
        font-size: 12px
    } */
    .sign_up {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: center;
        color: #4a4949;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
        background-color: gold;
        width: 145px
    }
}

@media only screen and (min-width :768px) and (max-width :1120px) {
    .navbar .navbar-brand {
        padding: 0 10px
    }
}