<img src="assets/loading.gif" *ngIf="!showLayout" class="loading-gif">
<ng-masonry-grid [ngClass]="{'hide-layout': !showLayout, 'show-layout': showLayout}"
[masonryOptions]="{ transitionDuration: '1s', gutter: 5 }"
[useAnimation]="true"
[useImagesLoaded]="true"
[scrollAnimationOptions]="{ animationEffect: 'effect-4', minDuration : 1, maxDuration : 2 }">
<ng-masonry-grid-item class="tiles" *ngFor="let trail of trails | slice:start:end; let i=index">
<a style="text-decoration: none;" [routerLink]="['/hiking-trails', trail.id]" target="_blank">    
  <mat-card class="event-list-cards">
    <div class="img-wrp">
    <img mat-card-image src={{trail.image_urls.first}} alt="">
  </div>
    <mat-card-content class="">
      <p class="event-group-title">
        {{trail.name}}
      </p>
      <p class="event-venue">
        {{trail.city}}, {{trail.state}}
      </p>
      <p class="star-btn">
        <button title="click to save"  (click)="unsubscribe_venue(data.id,i)" >
          <img class="dfkg" src="../../../../assets/icons/save_orange.png" />
        </button>
      </p>
      <!-- <p  class="star-btn">
        <button >
          <img class="dfkg" src="../../../../assets/icons/calendar_grey.png" />
        </button>
        <button  title="follow" (click)="add_subscription_venue(data.id,i)" >
          <img class="dfkg" src="../../../../assets/icons/save_blue.png" />
        </button>
      </p> -->
        <br>
    </mat-card-content>
  </mat-card>
</a>
</ng-masonry-grid-item>
</ng-masonry-grid>
