<form class="profile-container" [formGroup]="formGroup">
  <div class="row py-3 mx-0" *ngIf="referrals.length <= 0">
    <div class="col-md-5">
      <h3 class="fs-xxl">No pending friend invites!</h3>
    </div>
  </div>
  <div class="row py-3 mx-0" *ngIf="referrals.length > 0">
    <div class="col-md-4">
      <h3 class="fs-xxl">Pending friend invites</h3>
      <p class="fs-sm">Check the box to accept invitation</p>
    </div>
  </div>
  <div class="row py-3 mx-0" *ngIf="referrals.length > 0">
    <div class="col-md-3" fxLayout="column" fxLayoutAlign="end start" *ngFor="let referral of referrals; let i = index">
      <mat-checkbox [formControl]="formGroup.controls.referralControls.controls[i].controls.accept"
        class="mb-1 ml-md-5 fs-md news-letter newsletter-label">
        {{referral.referrer}}</mat-checkbox>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="mt-2" fxLayout="row" fxLayoutAlign="end stretch">
    <button class="btn btn-yellow fs-sm" (click)="back()">BACK TO HOME</button>
    <button class="btn btn-yellow fs-sm" [disabled]="formGroup.invalid" *ngIf="referrals.length > 0"
      (click)="save()">FINISH</button>
  </div>
</form>