<div class="container-fluid">
  <div class="main-section">
    <div class="row">
      <div class="col-md-6">
        <label class="BubblegumSans main-text-margin-top">Terms
          <span class="terms_of_use">of use</span></label>
      </div>
      <div class="col-md-6">
        <img src="../../assets/isometric_pics/termsicon.png" class="Rectangle-234">
      </div>
    </div>

    <!-- Middle Section -->
    <div class="row">
      <div class="col-12">
        <div class="label-sec">
          <label class="Our-story main-label">Terms of use</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <!--Carousel Wrapper-->

        <!--/.Carousel Wrapper-->
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <hr class="hr-Rectangle-200">

  </div>
</div>
<br> <br>
<app-layout-footer></app-layout-footer>