.profile-container {
    margin: 0% 5% 100px 5%;
}

.content {
    padding: 57px 60px;
}

mat-divider {
    margin: 20px 0;
}

.interests {
    position: relative;
}

.clear {
    position: absolute;
    right: 0;
    top: -25px;
    cursor: pointer;
}

h4 {
    font-weight: 700;
}

mat-form-field {
    font-family: Montserrat;
}

.mat-chip.mat-standard-chip {
    background-color: unset;
    color: rgba(0, 0, 0, .87);
    border: 1px solid #4a4949;
    font-family: Montserrat;
}

.mat-standard-chip:hover::after {
    opacity: 0;
}

.mat-standard-chip:focus::after {
    opacity: 0;
}

.no-display {
    display: none;
}

.btn {
    margin: 0 1rem;
}

.fs-sm {
    font-size: 18px !important;
}

.fs-md {
    font-size: 24px !important;
}

.fs-lg {
    font-size: 28px !important;
}

.fs-xl {
    font-size: 32px !important;
}

.fs-xxl {
    font-size: 48px !important;
}

.fs-xxxl {
    font-size: 64px !important;
}

@media only screen and (max-width: 767px) {
    .fs-sm {
        font-size: 14px !important;
    }
    .fs-md {
        font-size: 18px !important;
    }
    .fs-lg {
        font-size: 18px !important;
    }
    .fs-xl {
        font-size: 18px !important;
    }
    .fs-xxl {
        font-size: 32px !important;
    }
    .fs-xxxl {
        font-size: 32px !important;
    }
}

@media only screen and (max-width: 767px) {
    .content {
        padding: 31px 18px;
    }
    mat-divider {
        display: none;
    }
    .profile-container {
        width: 90%;
    }
    .dropdown-menu {
        position: absolute;
        left: -100%;
    }
}