.help-heading {
    color: #F94B54;
    letter-spacing: 0.05em;
}

.help-list {
    letter-spacing: 0.05em;
}

.help-privacy {
    margin-top: 10%;
}

/* Phones */ 
@media only screen and (max-width : 767px) {
    .help-page {
        margin: 5%;
        font-family: Arial,Helvetica,sans-serif;
        line-height: 1.5em;
    }
}

/* Tablets */
@media only screen and (min-width : 768px) and (max-width : 1280px) {
    .help-page {
        margin: 10%;
        font-family: Arial,Helvetica,sans-serif;
        line-height: 1.5em;
    }
}

/* Desktop */
@media only screen and (min-width : 1281px) {
    .help-page {
        margin: 10%;
        font-family: Arial,Helvetica,sans-serif;
        line-height: 1.5em;
    }
}

.Always-happy-to {
    width: 357px;
    height: 49px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
    color: #5d5d5a;
}
.Always-happy-to .Help {
    height: 153px;
    font-family: BubblegumSans;
    font-size: 132px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: left;
    color: #ef6c57;
    margin-left: 46%;

}
.Rectangle-218 {
    width: 418px;
    height: 358px;
}
.Frequently-asked-questions {
    width: 291px;
    height: 24px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #5d5d5a;
}
.Rectangle-171 {
    width: 1181px;
    height: 5px;
    background-color: #ef6c57;
}

.Rectangle-219 {
    width: 1181px;
    height: 5px;
    background-color: #ef6c57;
}

.heading{
    color: #ef6c57;
   
}
p {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    /* color: #5d5d5a; */
}