<div class="home-page">
  <div class="home-image-div">
    <img src="assets/kin_homepage.png" class="home-image">
  </div>
  <div class="home-body-div">
    <p class="home-header">Hello, I am Kin...</p>
    <p class="home-body">Your personal parenting assistant. My sole mission is to help you discover products and
      experiences your kids will love! Well...more like your kids may love. It is never a given, is it?</p>
    <p class="home-body">Like your kids, I am still learning and growing.</p>
  </div>
</div>
