<app-layout-header></app-layout-header>

<div class="container-fluid">
  <div class="main-section">
  <div class="row">
    <div class="col-md-12">
      <div class="banner-heading">
            <div><button class="btn btn-sign-up" [routerLink]="['/','sign-up']">Sign up</button></div>
          <!-- <div><h1 class="main-heading">Kin</h1></div> -->
      </div>
    </div>
  </div>
  <div class="row homeImage">
      <div class="banner-heading">
		<br>
            <div class="info">
              Discover and plan family-friendly experiences!
            </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-4">
       <div class="outer-div">
           <a [routerLink]="['/','events']">
            <img src="../../assets/web_images/kinfin3.png" class="img-fluid" />
            <!-- <div class="row" >
              <label class="home-event-camps-places-text">Events</label>
           </div>
	  -->
           </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="outer-div">
            <a [routerLink]="['/','camps']">
            <img src="../../assets/web_images/kinfin2.png" class="img-fluid" />
            <!-- <div class="row" >
                <label class="home-event-camps-places-text">Camps</label>
            </div>
            -->
            </a>
    	</div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="outer-div">
            <a [routerLink]="['/','venues']">
            <img src="../../assets/web_images/kinfin1.png" class="img-fluid" />
            <!-- <div class="row" >
                <label class="home-event-camps-places-text">Places</label>
            </div>
	    -->
            </a>
        </div>
    </div>  
  </div>

  <div class="row">
      <div class="col-12">
            <hr class="hr-Rectangle-200">
      </div>
  </div>
    <div class="row">
            <div class="col-md-6 meet-kin-descrp">
                <h3><font color="#459bca">Get recommendations</font></h3>
                <p>Events, places, camps and more tailored for your family</p>
                <br>
                <br>
                <h3><font color="#e065b5">Get the details</font></h3>
                <p>Is there easy parking? Do I need to buy tickets now? Get all the information you care about as a parent in just one place</p>
                <br>
                <br>
                <h3><font color="#f66955">Get things done</font></h3>
                <p>Share with friends, add to calendar, save, subscribe to events at your favorite places... whatever it takes to make it happen whether it is a family outing or a playdate</p>
            </div>
            <div class="col-md-6">
                <video controls loop muted>
                    <source src="../../assets/iphone%20frame_3.mp4" type="video/mp4">
                </video>
            </div>
      </div>
      <hr class="hr-Rectangle-200">
    </div>
</div>
<br> <br>


<app-layout-footer></app-layout-footer>
