<app-layout-header></app-layout-header>

<div class="container-fluid">
  <div class="main-section">
  <div class="row" style="background:transparent url('../../assets/web_images/kin_home.jpg') no-repeat center center /cover">
    <div class="col-md-12">
      <div class="banner-heading">
          <!-- <div><h1 class="main-heading">Kin</h1></div> -->
            <div class="info">
              Discover and plan family-friendly experiences!
            </div>
		<br><br><br><br>
		<br><br><br>
            <div><button class="btn btn-sign-up" [routerLink]="['/','sign-up']">Sign up</button></div>
      </div>
    </div>
  </div>
	<br/>
  <div class="row">
  <div class="col-md-12"></div>
  <div class="col-md-12"></div>
  <div class="col-md-12"></div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
       <div class="outer-div">
           <a [routerLink]="['/','events']">
            <img src="../../assets/isometric_pics/events.png" class="img-fluid" />
            <div class="row" >
              <label class="home-event-camps-places-text">Events</label>
           </div>
           </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="outer-div">
            <a [routerLink]="['/','camps']">
            <img src="../../assets/isometric_pics/camps.png" class="img-fluid" />
            <div class="row" >
                <label class="home-event-camps-places-text">Camps</label>
            </div>
            </a>
    	</div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="outer-div">
            <a [routerLink]="['/','venues']">
            <img src="../../assets/isometric_pics/places.png" class="img-fluid" />
            <div class="row" >
                <label class="home-event-camps-places-text">Places</label>
            </div>
            </a>
        </div>
    </div>  
  </div>

  <div class="row">
      <div class="col-12">
        <div class="label-sec">
            <label class="Our-story main-label">Meet Kin!</label>
        </div>
      </div>
  </div>
    <div class="row slider-video-sec">
            <div class="col-md-6">
              <!--Carousel Wrapper-->
              <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-2" data-slide-to="1"></li>
                  <li data-target="#carousel-example-2" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <div class="view">
                      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                      <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                      <h3 class="h3-responsive carousel-header">Get recommendations</h3>
                      <p class="carousel-p">Events, places, camps and more tailored for your family</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                      <div class="mask rgba-black-strong"></div>
                    </div>
                    <div class="carousel-caption">
                      <h3 class="h3-responsive carousel-header">Get the details</h3>
                      <p class="carousel-p">Is there easy parking? is food allowed? do I need to buy tickets now? Get all the scoop for parents in just one place</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                      <div class="mask rgba-black-slight"></div>
                    </div>
                    <div class="carousel-caption">
                      <h3 class="h3-responsive carousel-header">Get things done</h3>
                      <p class="carousel-p">Share with friends, add to calendar, save, subscribe to events at your favorite places…whatever it takes to make it happen whether it is a family outing or a playdate</p>
                    </div>
                  </div>
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
              </div>
              <!--/.Carousel Wrapper-->
            </div>
            <div class="col-md-6">
                <video width="320" height="240" controls>
                    <source src="movie.mp4" type="video/mp4">
                  </video>
            </div>
      </div>
      <hr class="hr-Rectangle-200">
    </div>
</div>
<br> <br>


<app-layout-footer></app-layout-footer>
