.meet-kin-descrp {
    display: block;
    margin: auto;
}

h3 {
    font-family: Montserrat;
    font-size: 20px;
}

p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
}

video {
        height: 90%;
        width: auto;
        display: block;
        margin: 4% auto auto auto;
    }

@media only screen and (max-width : 767px) {
    .home-page {
        margin: 7%;
    }
    .home-body-div {
        width: 100%;
    }
    .home-image-div {
        color: white;
    }
    .home-image {
        width: 100%;
    }
    .home-header {
        font-weight: bold;
        font-size: 35px;
        color: #414141;
    }
    .home-body {
        font-size: 15px;
        color: #414141;
        letter-spacing: 0.1em;
    }
    
    .meet-kin-descrp {
        display: block;
        margin: auto;
        padding-bottom: 15%;
        padding-top: 10%;
    }

}

/* Tablets */
@media only screen and (min-width : 768px) and (max-width : 1280px) {
    .home-page {
        margin: 1%;
        margin-top: 10%;
    }
    .home-body-div {
        width: 45%;
    }
    .home-image-div {
        color: white;
    }
    .home-image {
        width: 55%;
        float: right;
    }
    .home-header {
        font-weight: bold;
        font-size: 55px;
        color: #414141;
    }
    .home-body {
        font-size: 18px;
        color: #414141;
        letter-spacing: 0.1em;
    }
    
    .meet-kin-descrp {
        display: block;
        margin: auto;
        padding-left: 8%;
    }
    

}

/* Desktop */
@media only screen and (min-width : 1281px) {
    .home-page {
        margin: 1%;
        margin-top: 5%;
    }
    .home-body-div {
        width: 45%;
    }
    .home-image-div {
        color: white;
    }
    .home-image {
        width: 55%;
        float: right;
    }
    .home-header {
        font-weight: bold;
        font-size: 55px;
        color: #414141;
    }
    .home-body {
        font-size: 18px;
        color: #414141;
        letter-spacing: 0.1em;
    }
    .addmore {
        float: right;
    }
    
    .meet-kin-descrp {
        display: block;
        margin: auto;
        padding-left: 8%;
    }

    
    a {
        text-decoration: none;
    }
}
