<img src="assets/loading.gif" *ngIf="!showLayout" class="loading-gif">
<ng-masonry-grid [ngClass]="{'hide-layout': !showLayout, 'show-layout': showLayout}"
  [masonryOptions]="{ transitionDuration: '1s', gutter: 5 }" [useAnimation]="true" [useImagesLoaded]="true"
  [scrollAnimationOptions]="{ animationEffect: 'effect-4', minDuration : 1, maxDuration : 2 }">
  <ng-masonry-grid-item class="tiles" *ngFor="let camp of camps | slice:start:end; let i=index">
    <mat-card class="event-list-cards">
      <a style="text-decoration: none;" [routerLink]="['/camps', camp.id]" target="_blank">
        <div class="img-wrp">
          <img mat-card-image src={{camp.image_url}} alt="Image not available">
        </div>
      </a>

      <mat-card-content class="">
        <p class="event-group-title">
          {{camp.name}}
        </p>
        <p class="event-venue">
          {{camp.cities}}
        </p>
        <p class="event-venue">
          {{camp.misc['timings']}}
        </p>
        <p class="star-btn" *ngIf="!isLogedin">
          <button title="click to save" (click)="checklogin(saveEvent)">
            <img src="../../assets/icons/heart_gray.png" class="dfkg" />
          </button>
        </p>
        <p class="star-btn" *ngIf="isLogedin && camp.is_saved == 'true'">
          <button title="saved" (click)="is_delete_action(camp.id,i)">
            <img class="dfkg" src="../../../../assets/icons/save_orange.png" />
          </button>
        </p>
        <p *ngIf="isLogedin && camp.is_saved == 'false'" class="star-btn">
          <button (click)="save_camp(camp.id,i)" title="click to save">
            <img class="dfkg" src="../../../../assets/icons/save_blue.png" />
          </button>
        </p>
      </mat-card-content>
    </mat-card>
  </ng-masonry-grid-item>
</ng-masonry-grid>

<ng-template #deleteuser>
  <div class="modal-body thanks">
    <button type="button" style="float: right;" class="close pull-right" aria-label="Close" (click)="closeDialog()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="text-center">
      <h2 class="app-name">Sign in to {{ClickName}}</h2>
    </div>
    <div class="btnYN">
      <button class="btnSubmit Rectangle" (click)="signin()" mat-raised-button color="primary"><b class="SIGN-IN">SIGN
          IN</b></button><br>
      New to Kin? <a href="" style="color:#000000;font-family: Montserrat;font-family: 18px;" (click)="signin()">Create
        an account</a>
    </div>
  </div>
</ng-template>
